[2015-03-27 16:59] ebgraham opened #2 "Multiple processes sharing PINCache"
To support notification center and Apple Watch extensions, we'd like to move our cache location to a shared app group container.  However this enables multiple processes to simultaneously attempt to read and write on the same files.  Does PINCache have any protection against this, by using NSFileCoordinator, for example?

[2015-03-27 21:02] garrettmoon commented on #2
No, it uses a runtime lock to protect file access. However, that sounds like a good enhancement to be made!

[2015-05-21 09:52] tapz opened #4 "OS_OBJECT_USE_OBJC not set"
Code crashes here. Why is that? The deployment target is 8.0 so it should use ARC.

- (void)dealloc
{
    [[NSNotificationCenter defaultCenter] removeObserver:self];

    #if !OS_OBJECT_USE_OBJC
    dispatch_release(_queue);  <-----------------CRASH
    dispatch_release(_lockSemaphore);
    _queue = nil;
    #endif
}

[2015-05-21 16:45] garrettmoon commented on #4
I assume you using CocoaPods? If so, you'll want to take a look here: http://guides.cocoapods.org/syntax/podspec.html#deployment_target

Anyway, this isn't an issue specific to PINCache, OS_OBJECT_USE_OBJC is defined by the SDK. Try command clicking on it or looking in object.h

[2015-05-21 16:45] #4 closed

[2015-05-21 16:54] tapz commented on #4
Should this in PINCache.podspec be 6.0 in order to use ARC?

s.ios.deployment_target = '5.0'

[2015-05-21 17:12] garrettmoon commented on #4
Ah! You're using an old version, please update to the latest commit and your issue should be resolved.

[2015-05-21 17:13] tapz commented on #4
I updated my pods today. If the pod is old, please update it.

[2015-05-21 17:14] tapz commented on #4
When I go to https://github.com/pinterest/PINCache and lick PINCache.podfile it has target version 5.0. How do I access the latest commit?

[2015-05-21 17:24] garrettmoon commented on #4
Deployment spec should be 5.0, we wrote the code to support it. The fix is in PINCache.m. There is no _queue iVar anymore, it's been renamed _concurrentQueue.

You can specify a commit in CocoaPods like so:

	pod 'PINCache', :git => 'https://github.com/pinterest/PINCache.git', :commit => 'b9d152954e56d18b196b180188752040e9ac6cf9'

I'll probably do a 2.0.1 release soon so that you don't have to spe

[2015-05-22 11:55] Kosikowski opened #5 "Crash on dealloc"
Hi,  I've created simple project to test PINCache, and the app crashed on dealloc method in either PINMemoryCache or PINDiskCache. Steps to reproduce:
1. Create simple IOS.8.3 project with PINCache added using cocoapods
2. Add one the following line in the e.g viewDidLoaded in main view controller
[[PINMemoryCache alloc]init]; //crash
[[PINCache alloc]initWithName:@"Name"]l; //crash

I was able to

[2015-05-22 17:33] garrettmoon commented on #5
This has been fixed, however we haven't pushed out a new version. To get the fix, you can specify the latest commit with:

pod 'PINCache', :git => 'https://github.com/pinterest/PINCache.git', :commit => 'b9d152954e56d18b196b180188752040e9ac6cf9'

We'll release a 2.0.1 soon.

[2015-05-22 17:36] Kosikowski commented on #5
Thank you!

[2015-05-22 17:39] #5 closed

[2015-07-13 11:36] cyril94440 opened #7 "setObject not working"
Hi,

I am not able to save an object.

The log shows : PINDiskCache.m (303) ERROR: The operation couldn’t be completed. (Cocoa error 4.)

[2015-07-14 14:22] garrettmoon commented on #7
@cyril94440 that's an error reported by the system when writing the object to disk. Can you give more information? A small sample program showing the issue? What version of PINCache are you using, or even better, what is the last commit?

[2015-07-14 14:38] cyril94440 commented on #7
Hi,
I'll try to provide more information but for now, I didn't change anything in my code directly linked to PINCache. I am using the last version using cocoa pods

[2015-07-16 10:42] cyril94440 commented on #7
I am using the Parse-NSCoding repo.
Can it be due to a bad NSCoding implementation ?

[2015-07-16 14:33] garrettmoon commented on #7
@cyril94440 The error is an error occurring when setting the file modification date. It's returned by the system.

If I were debugging this, I'd put a breakpoint at the top of setFileModificationDate in PINDiskCache and see what is getting passed into setAttributes. If it's not immediately obvious what the issue is, can you paste what date and fileURL are in the case where it errors?

[2015-07-16 16:26] cyril94440 commented on #7
Nothing strange :/

2015-07-16 16:25:21 +0000

file:///var/mobile/Containers/Data/Application/5189A230-65E2-4DDD-927F-27817C3711AA/Library/Caches/com.pinterest.PINDiskCache.PINCacheShared/alreadyMatchUsers

[2015-07-16 20:29] garrettmoon commented on #7
Hmm, are you using the cache from an extension or watch extension? Do you have multiple cache's with the same name?

[2015-07-16 20:50] cyril94440 commented on #7
I am using group for sharing files with the watch extension.
However I am not even using an apple watch. So the code is running only for the iOS app part.
I am using the sharedCache only.
Maybe there is something happening with the group files...?

[2015-07-16 21:05] garrettmoon commented on #7
@cyril94440 PINCache does not yet support running in multiple processes at once (i.e. phone app and watch app) yet see https://github.com/pinterest/PINCache/issues/2

It could indeed be the OS 'protecting' access to group files. I'm not sure :(

I'd happily accept a pull request to implement the feature requested in the above github issue.

[2015-07-16 21:05] #7 closed

[2015-07-17 03:52] klevison opened #8 "Problem with swift"
http://stackoverflow.com/questions/31468121/pincache-objectforkey-returning-nscoding-and-cant-casting-it

So, using objC it is perfect, but when I wanna cast with swift I had EXC_BAD_ACCESS

When I call `objectForKey`

`- (id <NSCoding>)objectForKey:(NSString *)key;`

And I have nothing cached for that key, but Swift understand that the object is an NSConding. So, if I have values into a key, I ha

[2015-07-21 23:38] rcancro commented on #8
Hey,

It looks like the return type of the synchronous `objectForKey:` methods needs to be marked as `__nullable`. Otherwise Swift doesn't know the return type can be optional.

I just submitted a PR to fix this:
https://github.com/pinterest/PINCache/pull/9

(and it looks like it has already been merged!!)

[2015-07-22 02:39] klevison commented on #8
Please update `podspec`file

[2015-07-22 02:44] garrettmoon commented on #8
We probably won't be updating the podspec for this, however you can specify a commit with cocoa pods:

`pod 'PINCache', :git => 'https://github.com/pinterest/PINCache.git', :commit => 'd68c82fbcf6300e6a968c7fd3be0092f5ab42786'

[2015-07-22 02:44] #8 closed

[2015-07-22 02:45] klevison commented on #8
OK. Thanks :)

[2015-07-28 22:45] dchohfi opened #12 "Disable PINDiskCache"
Hey guys, is that possible to disable disk cache for PINCache?

[2015-07-28 23:05] garrettmoon commented on #12
You can simply use PINMemoryCache directly.

[2015-07-28 23:31] jaredsinclair opened #13 "Invalid task ids used for expiration handlers."
The macro for beginning a background task looks like this:

[code]

`UIBackgroundTaskIdentifier` is a value type, so when the block is created it captures `taskID` when it equals `UIBackgroundTaskInvalid`. It never captures the actual task identifier, so if the expiration handler pops the actual task isn't properly cancelled.

[2015-07-28 23:34] garrettmoon commented on #13
Yup.

[2015-07-29 00:00] garrettmoon commented on #13
@jaredsinclair Let me know what you think of #14

[2015-07-29 01:36] jaredsinclair commented on #13
# lg™

[2015-07-29 01:36] #13 closed

[2015-07-29 18:41] dchohfi commented on #12
@garrettmoon great, thank you :+1:

[2015-07-29 18:41] #12 closed

[2015-07-30 06:30] lexrus opened #15 "Please add Carthage support."
Please check out [Carthage](https://github.com/Carthage/Carthage).

[2015-07-30 18:05] garrettmoon commented on #15
Sounds like a great idea, please feel free to put up a pull request!

[2015-07-31 14:31] lexrus commented on #15
Done. #17

[2015-07-31 14:34] lexrus opened #18 "Can't build OS X framework."
Failed to build the framework when targeting OS X.
<img width="1039" alt="screen shot 2015-07-31 at 10 32 35 pm" src="https://cloud.githubusercontent.com/assets/219689/9009502/329be57c-37d4-11e5-9bd9-3cb9704ddf84.png">

[2015-07-31 16:07] garrettmoon commented on #18
Ouch, thanks for catching this!

[2015-07-31 16:07] garrettmoon commented on #18
I'll put up a PR to fix today, and add in os x to our Travis CI builds.

[2015-07-31 19:18] garrettmoon commented on #18
Fix is here: #19

[2015-07-31 20:24] jparise opened #20 "Method override for the designated initializer of the superclass '-init' not found"
Compile-time warning under Xcode 7 Beta 4:
[code]

[2015-07-31 23:36] #15 closed

[2015-07-31 23:36] garrettmoon commented on #15
Thank you!

[2015-08-01 14:26] lexrus commented on #18
Okay, it compiled without problems. Thank you.

[2015-08-01 14:26] #18 closed

[2015-08-17 13:01] thiagoramos23 opened #24 "Extract Data from Pincache"
Hi, I wonder if there is a way, when saving cache in disk, to retrieve the file of the cache and extract data. I'm using Pincache for store offline data, but I usually need to get the data that was not synchronised  to the server for some reason (probably bugs).

There is a way to get this file and, perhaps, read in another app?

Sorry to create this issue but i didn't know where to ask.

[2015-08-17 20:58] garrettmoon commented on #24
Hey @thiagoramos23, the documentation covers this pretty well. You can get the cache's diskCache and either get the object (which will read from disk and deserialize into an object), or you can get the file path of the object instead with a separate method on PINDiskCache. Hope this helps,

Garrett

[2015-08-24 18:15] #24 closed

[2015-08-24 18:15] garrettmoon commented on #20
Fixed by #25

[2015-08-24 18:15] #20 closed

[2015-08-27 10:30] dcaunt opened #26 "Provide prebuilt frameworks for Carthage"
Carthage can download prebuilt frameworks if they are attached to a GitHub release.

For example, to prebuild the zip required for 2.0.1:

[code]

Attach the resulting `PINCache.framework.zip` to the release.

[2015-08-27 17:17] garrettmoon commented on #26
The idea would be to checkout master

[code]
then commit the changes and tag that as a release?

[2015-08-27 17:54] dcaunt commented on #26
Carthage is smart enough to look at GitHub releases (tags) for the resolved version. So if PINRemoteImage is added to a Cartfile at version 2.0.1, Carthage will look for a GitHub release for that tag.

The existing 2.0.0 and 2.0.1 releases are fine as is, they would just need a PINCache.framework.zip attaching.

You want the prebuilt framework to be the same as if it was built from the tag, so it'

[2015-08-27 18:23] garrettmoon commented on #26
Gave it a go, mind testing it worked for 2.0.1?

[2015-08-27 20:38] dcaunt commented on #26
Works perfectly, thanks again!

[2015-08-27 20:38] #26 closed

[2015-08-28 07:40] malcommac opened #27 "Code clarification on lock/unlock methods of PINDiskCache"
Hi,
I'm looking at the code and I'm a bit confused.
Just for example, looking at ```setObject:forKey:block``` in ```PINDiskCache.m``` I can see:

[code]

Why ```strongSelf lock/unlock``` is needed between the return callback call?
No access to files is performed (and in fact inside the ```setObject:forKey:fileURL:``` another lock is made).
Is there any reason I can't understand for this?
It's the

[2015-08-31 20:22] garrettmoon commented on #27
It's guaranteed in the api that it's safe to access things like diskByteCount in the callback. It might be a contract that should be changed for perf reasons. I'd be up for someone investigating that change :)

[2015-08-31 20:22] #27 closed

[2015-09-08 21:58] jparise opened #28 "CFURLCreateStringByAddingPercentEscapes / CFURLCreateStringByReplacingPercentEscapesUsingEncoding are deprecated in iOS 9.0"
[code]

[2015-09-20 11:28] mypark opened #29 "Warnings in xcode 7"
Just added PINCache to my xcode 7 project via cocoapods and get these 2 warnings:

for PINCache and PINDiskCache

Method override for the designated initializer of the superclass '-init' not found

[2015-09-20 19:14] borut-t commented on #29
+1

[2015-09-21 10:47] mironal commented on #29
+1

[2015-09-21 19:40] garrettmoon commented on #29
Just pushed 2.1 to pod spec repo.

[2015-09-21 19:40] #29 closed

[2015-09-26 19:15] kerrmarin opened #31 "Ability to purge expired items"
Hi there,

It would be great to be able to purge items that have expired from the cache. For example, I have a service that returns images with a cache-control header. I would like to have the ability to, when inserting into the cache, specify a date to mark them as expired and then have the ability to remove only the expired items from the cache.

Thanks

[2015-09-28 16:46] garrettmoon commented on #31
Would be happy to accept a pull request that implemented this without a performance cost for use that didn't require this functionality.

[2015-10-12 22:44] benasher44 opened #32 "*forKey: and *forKey:block: methods should check object dates against _ageLimit"
Hello! In a perfect world, setting ```ageLimit``` schedules regular trims of the cache, and the the cache is always free of objects that have expired. In reality, you could set an ```ageLimit``` to 5 minutes, add an object to the cache 2.5 minutes later, and then this object will get to live on for 7.5 minutes instead of the 5 minutes maximum set by setting the ```ageLimit``` (because it missed th

[2015-10-12 23:13] garrettmoon commented on #32
Hmm, this is an interesting use of the cache. I don't think the current design of PINCache is catered to the idea that the cache *must* enforce TTL. I think it's catered to the other use case where you generally want to clear out old items so they don't take up too much memory, not because you want to make sure you 'create/fetch' new objects.

If you feel strongly about adding the feature, I'd be

[2015-10-12 23:34] benasher44 commented on #32
I'd be happy to submit a PR! In terms of supporting this feature, would setting the ageLimit to a value > 0 be enough to consider this feature enabled? Given the description of ageLimit in PINDiskCache.h ("```The maximum number of seconds an object is allowed to exist in the cache…```" specifically), I don't think this new behavior would be a surprising result to any existing users of PINCache.

[2015-10-12 23:42] garrettmoon commented on #32
@benasher44 it may not be surprising, based on the documentation, but there may be a performance hit for some users? I guess it depends on the performance implications. If they are small and if cache misses aren't going to be greatly increased, I'm ok with ageLimit > 0 enabling the feature. If not, I'd be worried about this especially with no way to turn off the feature.

[2015-10-15 18:35] bdorfman opened #33 "Carthage framework deployment target is 8.1"
Is there a reason this doesn't work on iOS 8.0?

[2015-10-15 19:56] garrettmoon commented on #33
I don't know of one, the library itself supports iOS 5 I believe. Would accept a pull request addressing :)

[2015-10-24 17:29] cyril94440 opened #35 "Cocoapods, support watchOS platform"
Would be great if you could add watchOS platform support

[2015-10-24 18:32] garrettmoon commented on #35
Would happily accept a pull request! FYI, sharing a disk cache between an extension and an app is currently unsupported and would require quite a bit of work to allow.

[2015-10-24 18:42] cyril94440 commented on #35
I am just talking about caching on the extension so on the watch. Not cache syncing.
I guess it's just about removing UIApp notifications, but not sure about how it is used in PINCache

[2015-10-24 18:43] garrettmoon commented on #35
@cyril94440 PINCache already supports that, have a look at PIN_APP_EXTENSIONS

[2015-10-24 18:43] #35 closed

[2015-10-28 23:15] bdorfman commented on #33
Fixed in https://github.com/pinterest/PINCache/pull/34

[2015-10-28 23:15] #33 closed

[2015-10-29 18:19] garrettmoon commented on #28
Fixed in #36

[2015-10-29 18:19] #28 closed

[2015-11-08 17:33] jparise opened #37 "Use NS_EXTENSION_UNAVAILABLE_IOS instead of PIN_APP_EXTENSIONS"
`NS_EXTENSION_UNAVAILABLE_IOS` can be used to mark symbols as unavailable to extensions. This should allow us to remove the `PIN_APP_EXTENSIONS` define and produce one library for both application and extensions.

Inspired by AFNetworking/AFNetworking#2737.

[2015-11-15 01:37] cerupcat opened #38 "Add tvos to podspec so tvos apps can use this"
Can you add tvos to the podspec so tvos apps can use this with cocoapods?

[2015-11-16 00:23] garrettmoon commented on #38
Feel free to submit a pull request!

[2015-11-16 00:23] #38 closed

[2015-11-16 19:03] soundspectrum opened #39 "Request: non hard-coded name consts"
Hi!

First, many things for making your work open!

In PINDiskCache.m, this is a kind request to make the values for `PINDiskCachePrefix` and `PINDiskCacheSharedName` changeable at build time (i.e. not hard-coded into the repository!).

Suggestions that would all work:
  * check a if a macro is defined and use that instead if defined
  * add a NSString param to initWithName:rootPath that is used i

[2015-11-16 22:44] garrettmoon commented on #39
Hey Drew, we're open to pull requests, sounds like you already know how you might implement it!

[2015-11-16 22:44] #39 closed

[2015-11-17 04:28] cerupcat commented on #38
Pull request here: https://github.com/pinterest/PINCache/pull/40

[2015-11-19 16:43] mRs- opened #41 "#36 is breaking the disk cache of PINCache"
https://github.com/pinterest/PINCache/pull/36 is breaking the disk cache of PINCache

more explanation is directly in the pull request.

[2015-11-19 17:28] garrettmoon commented on #41
Should be fixed by #42

[2015-11-19 17:28] #41 closed

[2015-11-20 07:28] mRs- opened #43 "CocoaPods 2.1.2 Update with PINDiskCache bugfix"
The current version (2.1.1) is not used for production at the moment. Maybe a new podspec should created for cocoapods as soon as possible to fix this issues with all new installation of **PINRemoteImage** and **PINCache**.

[2015-11-22 00:00] pilot34 opened #44 "Strip ":" and "/" symbols from keys for disk cache"
Hi! Thank you for great lib.

In method, that generates file name in disk cache for key you have such code:

[code]

Why do you leave ".:/"? If I use URL strings as keys (for example link to file as key for NSData) — it generates wrong file names and cannot save file to disk.

[code]
`archiveRootObject:` returns NO here in `- (void)setObject:(id <NSCoding>)object forKey:(NSString *)key fileURL:(NS

[2015-11-22 00:10] pilot34 commented on #44
Oh, I see, it is fixed in version, that is not in cocoapods now. Sorry

[2015-11-22 00:10] #44 closed

[2015-11-23 03:19] Fudge0952 opened #46 "Add support for watchOS 2"
There is currently no support for watchOS 2.

I have created pull request #45 to solve the issue

Cheers
Tim

[2015-11-23 11:16] cyril94440 opened #47 "Disk cache not working"
Hi,

I have an issue after updating PINCache.
Object are saved between a given session, however when I kill the app, all objects are nil.

Any idea?

Thanks

[2015-11-23 18:51] cyril94440 commented on #47
Fixed with the repo.
Cocoa pod seems to be not updated.

[2015-11-23 18:51] #47 closed

[2015-11-23 19:45] garrettmoon commented on #43
Updated PINCache, it's unnecessary to update PINRemoteImage, it will pick this up as it only requires >= 2.1

[2015-11-23 19:45] #43 closed

[2015-11-23 22:04] garrettmoon commented on #46
Merged!

[2015-11-23 22:04] #46 closed

[2015-11-24 14:19] danielgalasko opened #48 "ChangeLog out of date"
The current version of `PINCache` is 2.1.2 but the CHANGELOG ends at version `2.0`. It seems as if changes have been documented in [GH](https://github.com/pinterest/PINCache/releases). I can submit a PR to sync these two docs...

[2015-11-24 23:45] #48 closed

[2015-11-25 00:44] shwu opened #50 "Long keys don't work for disk cache due to filename length limit"
The symptom we are seeing is that keys above a certain length cause the cache to either not save or miss when accessed.  After a quick empirical experiment it seems like the maximum key length is 255 characters (UNIX filename limit) and since special characters are escaped, their presence lowers the maximum limit.

We're using URLs as keys, some of which can be very long.

[2015-12-02 01:37] garrettmoon commented on #50
Hi @shwu, can you be a bit more specific? Is this specifically the disk cache?

[2015-12-02 06:52] ItamarM opened #51 "Hidden local variables"
There are quite a few local variables that shadow other local variables.
For example, the weakSelf variable in PINCache's objectForKey method.

[2015-12-02 20:39] erichoracek commented on #50
I've encountered this issue as well when caching Mapbox static map images with very long URLs. Applying a SHA1 to the key solved the issue for me. However, it would probably make more sense to fix this at the framework level.

[2015-12-02 21:56] garrettmoon commented on #51
@ItamarM Would love to merge in a pull request that fixes this!

[2015-12-03 00:01] shwu commented on #50
@garrettmoon Yep, this is specifically the disk cache.  When trying to write to disk with a long key (over 255 characters after escaping) the object will not be saved.  Our workaround was to hash the URL, as @erichoracek suggested, but again it seems like a framework-level fix is appropriate in this case.

[2015-12-14 22:43] garrettmoon commented on #37
From my understanding, this will only allow us to mark methods as unavailable for use in extensions, it *won't* allow us to compile separate code paths. So I'm not sure it will actually add value? :(

[2015-12-22 19:28] shwu commented on #50
Awesome!

[2015-12-22 19:28] #50 closed

[2015-12-30 12:20] ItamarM opened #58 "NSKeyedArchiver adds extra bytes to the stored file causing issues on different media types"
While the Disk Cache storing mechanism is great for image and text files, it causing some issues with other media types such as videos (The AVPlayer cannot handle that file type).

[2015-12-31 04:52] garrettmoon commented on #58
Do those media types support the NSCoding protocol correctly? All items stored in PINCache need to support NSCoding.

[2015-12-31 06:44] ItamarM commented on #58
NSData is supporting NSCoding, but when you persist it with KeyArchiver it adds meta data.

[2016-01-04 22:02] garrettmoon commented on #58
@ItamarM and that meta data isn't removed when it's restored? Can you provide an example file where encoding and decoding from NSData mutates the NSData? This sounds like more of an underlying issue with NSCoding and not an issue with PINCache.

The only way I can see working around this is to allow for PINDiskCache to either have a decode / encode delegate or make for easy subclassing to override

[2016-01-05 18:47] #51 closed

[2016-01-22 05:50] rex-remind101 opened #62 "Crash on -[PINDiskCache objectForKey:fileURL:]"
Our crash reporting consistently logs crashes on `-[PINDiskCache objectForKey:fileURL:]`. This is one of our highest reported crashes. This is on version 2.1.

Stack traces for the queue the crash occurs on look like the following:
[code]

All other threads are idle and the main thread is simply spinning the runloop when this happens:
[code]

There happen to be quite a large number of queues for `

[2016-01-22 18:33] garrettmoon commented on #62
@rex-remind101 Looks like one of the objects on disk isn't unarchiving correctly. This could be due to a bad implementation of initWithCoder (or secure coder), or it could be due to a file which doesn't support coding getting put in the cache directory (this is less likely).

[2016-01-22 18:38] rex-remind101 commented on #62
Since all of our file storage goes through your API wouldn't this be an issue with your library, and therefore not worth just closing? This explanation is a good lead but doesn't necessarily solve anything.

[2016-01-22 19:53] garrettmoon commented on #62
Hey @rex-remind101 I'm happy to reopen the issue with a help wanted tag for a bit!

[2016-01-22 20:13] rex-remind101 commented on #62
Great! Thank you :)

[2016-01-26 00:25] garrettmoon commented on #2
Looked into using NSFileCoordinator a bit.

One problem:
"If your app enters the background with an active file presenter, any other processes that perform a coordinated read or write on the presented file can deadlock. To prevent this situation, call removeFilePresenter: to remove the file presenter in the applicationDidEnterBackground: method or in response to a UIApplicationDidEnterBackgroundNo

[2016-01-29 18:46] ebgraham commented on #2
Extensions do actually get little-known lifecycle notifications:
[code]

[2016-02-01 17:51] timonus opened #64 "Unable to specify memory cache cost when adding object to PINCache"
When adding objects to `PINCache` via `-setObject:forKey:` those objects are internally stored to a `PINMemoryCache` and `PINDiskCache`. Trouble is, the value specified for the object stored in the `PINMemoryCache` is zero, meaning that trimming the memory cache by setting a cost limit doesn't work. It would be handy if there was some way to specify cost either explicitly when calling `-setObject:

[2016-02-02 22:58] garrettmoon commented on #37
Going to close this for now for the same reason as per [here](https://github.com/pinterest/PINRemoteImage/issues/93)

[2016-02-02 22:58] #37 closed

[2016-02-03 20:46] garrettmoon commented on #64
I like the former idea as that's how it works for the memoryCache and implementing a protocol seems like a bit more work on the API user.

[2016-02-04 00:16] garrettmoon commented on #2
Ahh! Nice!

The next concern I have is around performance. That's the next question to tackle :)

[2016-02-08 23:33] benasher44 commented on #32
Done here: #63

[2016-02-09 01:11] garrettmoon commented on #32
Whoo!

[2016-02-09 01:11] #32 closed

[2016-02-10 00:48] benasher44 opened #66 "PINCache 2.2?"
Hey there! I'm not sure if you all already had plans for other commits going into the next version bump for PINCache. If not, I'd be happy to make a PR with the CHANGELOG.md update and podspec version bump. We're anxious to integrate #63 into an internal pod we have, and unfortunately the CocoaPods podspec dsl for a pod's dependency doesn't allow us to specify a git sha.

Are you all ready for PIN

[2016-02-10 22:45] garrettmoon commented on #66
@benasher44 Do it!

[2016-02-10 22:53] benasher44 commented on #66
@garrettmoon: #67 :)

[2016-02-11 00:37] benasher44 commented on #66
@garrettmoon thanks for the merge! Can you close this once the new version is pushed to CocoaPods trunk?

[2016-02-11 00:57] garrettmoon commented on #66
@benasher44 I'm actually hitting an issue pushing to trunk due to a linter error, we can't build for watchOS. Looks like we need to set PIN_APP_EXTENSIONS when building for watch OS. I don't have time to debug this anymore tonight :(

I'll take a look soon, but if you want to give it a go, feel free to download latest master and `pod spec lint PINCache.podspec --verbose`

[2016-02-11 00:58] benasher44 commented on #66
ooh okay. i can debug some and follow up

[2016-02-11 17:51] benasher44 commented on #66
@garrettmoon I went back and tried ```pod spec lint --verbose``` on other tags that have already been submitted, and those failed as well. The issue is that there doesn't appear to be a way to set PIN_APP_EXTENSIONS for when  ```pod spec lint``` goes to build the extension targets (watchos, etc.).

In general, there's another way to design this code such that you don't need PIN_APP_EXTENSIONS. I c

[2016-02-11 18:28] garrettmoon commented on #66
That'd be amazing! I'm definitely curious about how we can avoid using PIN_APP_EXTENSIONS!

[2016-02-11 18:33] benasher44 commented on #66
Alrighty! I'll get a PR up soonish.

[2016-02-11 18:34] garrettmoon commented on #66
Thanks @benasher44 !

[2016-02-11 21:58] ytok commented on #66
Hey y'all, just FYI linting errors start happening after https://github.com/pinterest/PINCache/pull/45, where  `s.watchos.deployment_target = '2.0'` in the podspec is added.

[2016-02-12 00:31] benasher44 commented on #66
@garrettmoon @ytok seems like this was broken before then, and it's already affecting existing releases. I've fixed the linting and further watch os issues in #68. Since this isn't a regression, maybe it'd be worth just making sure it lints without the watchos line in the podfile, and then releasing anyway?

[2016-02-12 04:43] garrettmoon commented on #66
@benasher44 I agree, however the tool won't submit without linting :/ I'm reluctant to push without tvos support because it would be removing a feature people may be relying on.

[2016-02-12 05:58] benasher44 commented on #66
@garrettmoon okay I'll try porting my fixes from #68 that just fix the lint issues to a new PR based off of master. That should unblock 2.2

[2016-02-12 17:24] benasher44 commented on #66
@garrettmoon In #69, I've fixed the build errors, which should unblock the release. Once that gets merged in, I'll rebase #68, since most of these changes I just pulled in from that branch.

[2016-02-12 19:13] garrettmoon commented on #66
We (you) did it!

[2016-02-12 19:13] benasher44 commented on #66
:)

[2016-02-12 19:14] garrettmoon commented on #66
Thanks for all your work on this!

[2016-02-12 19:14] #66 closed

[2016-02-12 19:14] benasher44 commented on #66
Thank you for all of the support on your end as well!

[2016-02-24 10:33] ryanbrodie commented on #31
I second this, purging at the object level rather than the entire cache would be useful in many use cases.

[2016-03-28 15:38] dmauro opened #77 "costLimit not preventing very large in memory cache size"
We're using PINRemoteImage and asking it to download several very large images (~5k x 4k). When it does this memory spikes up to 1GB and the app gets killed by the system. This seems to be the case even if we set our costLimit to something far below 1GB:

[code]

It seems like perhaps the costLimit is simply not being honored? Or is it possible these are ending up in memory somewhere else first?

[2016-03-28 22:44] garrettmoon commented on #77
@dmauro currently has a bug, PINRemoteImage doesn't represent the cost in bytes but instead the cost in pixels :( I'm working on a big refactor which has this fixed, but it might be a while until it makes it in. Would happily accept a pull request to address it in the meantime!

[2016-03-29 14:36] dmauro commented on #77
Bummer. Well, we'll work around this bug for now. Thanks for the heads up that it might be a little while.

[2016-04-09 15:29] DanielRanLehmann opened #79 "checking if image is cached"
I might be missing something obvious. I'm using PINcache to store my images that is async plugged into a custom cell in a collectionView.

How can I check if an image is cached?

Is there any similar method to SDWebImage where you can check if an image is cached on disk like this:
- (BOOL)diskImageExistsForURL:(NSURL *)url;

- Daniel Lehmann

[2016-04-09 17:22] garrettmoon commented on #79
@DanielRanLehmann You can obviously just call objectForKey, but that will instantiate the object off disk which if you just want to check if it's available is expensive. Instead, you can access the memoryCache and diskCache directly. objectForKey on the memory cache will determine existence (and isn't expensive). fileURLForKey is the cheapest way to check existence on the disk cache.

I'd be happy

[2016-04-09 17:41] DanielRanLehmann commented on #79
Thanks for the quick response :+1: I will look into it right away and make a pull request if it works out..

[2016-04-18 20:16] garrettmoon opened #80 "PINDiskCache doesn't cache items if the items key is longer than the supported file length on the system"
If a key is longer than the filesystem supports in its filename, the object isn't cached properly. At the very least, PINDiskCache should throw an assert when this happens.

[2016-04-21 20:23] sebastienvillar opened #81 "PINCache does not support file protection"
All files are currently written unencrypted on disk.
For protection of the user's privacy, files should be encrypted when needed if necessary

[2016-04-25 15:09] #81 closed

[2016-04-28 15:14] sebastienvillar opened #83 "App extension warning with Carthage"
When using Carthage to build the framework and include in a framework that is used by app extensions, I have the following warning:

`linking against a dylib which is not safe for use in application extensions`

The build setting `Require Only App-Extension-Safe API` is set to `YES`.

I'm wondering that is related to this PR:  https://github.com/pinterest/PINCache/pull/72

Does anyone have an idea

[2016-05-03 17:22] sebastienvillar commented on #83
Had to change the settings of the checked out repository and set `Allow application extension API only` to yes on the target.

[2016-05-03 17:22] #83 closed

[2016-05-14 03:41] binchensjtu opened #87 "Crash on [PINDiskCache setObject:forKey:fileURL:]"
I see high rate crash on ```[PINDiskCache setObject:forKey:fileURL:]``` in my crash report. I use 2.2.2 PINCache with AsyncDisplayKit. It seems relative to file protection ? any idea about this?

*** -[NSURL initFileURLWithPath:isDirectory:]: nil string parameter

[code]

[2016-05-14 03:51] binchensjtu commented on #87
Also there is another low rate crash relative to unarchive. Seems to relate to corrupted file. Both of these two crash are the same issue?

EXC_BAD_ACCESS 0x000000010839c001

[code]

[2016-05-30 10:22] ittna opened #89 "Provide prebuilt framework for tvOS"
Release only contains iOS and Mac framework at the moment. Could you add tvOS as well?

[2016-06-05 12:50] binchensjtu commented on #62
@rex-remind101 Have you resolved this crash issue? I also found hight rate crash the same with yours.

[2016-06-06 18:58] rex-remind101 commented on #62
Yup, still seeing it on v 2.2.2.

[2016-06-06 21:29] garrettmoon commented on #62
@rex-remind101 @binchensjtu can either of you reproduce the issue?

[2016-06-07 12:22] ittna commented on #89
pull request #90 adds tvOS target to project file which should create tvOS version of the framework

[2016-06-07 17:06] garrettmoon commented on #89
Awesome! I totally missed the pull request, I'll try and look at it this week. Thank you @ittna!

[2016-06-09 01:41] jaredsson opened #91 "Podfile - containsObjectForKey support"
Because the latest release is from before `containsObjectForKey` was added, I am not able to use that API, do you mind adding a new release for it or showing me how to access it?

I am using Swift with the use frameworks Cocoapods option.

from my Podfile:

pod 'PINCache', :git => 'https://github.com/pinterest/PINCache.git'

Thanks btw, I find this cache very useful!

[2016-06-13 21:56] davehakim opened #92 "PINMemoryCache doesn't appear to update its totalCost when an object is replaced"
If a caller calls

[code]

on a PINMemoryCache for an existing key, the cost associated with the currently stored object is never deducted from the the cache's `totalCost`

It seems like it might even make sense to call

[code]

At the beginning of the setObject:forKey:withCost method if the key already exists

[2016-06-20 22:05] garrettmoon commented on #92
@davehakim Yeesh, that's bad! Would you be willing to add a unit test to demonstrate this?

[2016-06-20 22:07] garrettmoon commented on #91
@jaredsson if you'd like to use that API before it's released, you can specify a commit in your podfile

[code]

[2016-06-20 22:07] #91 closed

[2016-06-21 15:19] davehakim commented on #92
Sure thing

[2016-06-21 17:12] davehakim commented on #92
Sent up PR https://github.com/pinterest/PINCache/pull/93 with a unit test and a fix that just targets the totalCost issue. I didn't do a full call to `removeObjectAndExecuteBlocksForKey` since I wasn't sure if having the willRemove/didRemove object blocks was desired but could certainly update the PR if it is.

[2016-06-23 23:23] garrettmoon commented on #92
Merged, thank you!

[2016-06-23 23:23] #92 closed

[2016-06-23 23:24] garrettmoon commented on #92
Can you open a separate issue for the willRemove/didRemove? That way it can be discussed in a thread of its own?

[2016-06-24 15:08] davehakim commented on #92
Sure thing! Thx

[2016-06-24 19:00] davehakim opened #94 "When an object in PINMemoryCache is replaced, willRemove and didRemove blocks aren't called"
When an object in PINMemoryCache is replaced, the `willRemoveObjectBlock` and the `didRemoveObjectBlock` for the old object aren't called.

They are called in most other cases when an object is removed via a call to `removeObjectAndExecuteBlocksForKey`. This happens in

`removeObjectForKey`

And when trimming in

`trimMemoryToDate
trimToCostLimit
trimToCostLimitByDate`

But they aren't called in A

[2016-07-15 10:08] danielgalasko opened #95 "Advantages of PINCache over NSURLCache?"
I had a discussion with a colleague the other day who was advocating we use `NSURLCache` over `PINCache`. I was asked: what does `PINCache` offer that `NSURLCache` doesn't offer? I was rather at a loss.

As someone who hasn't used `NSURLCache` I don't know much about it but "NSURLCache provides a composite in-memory and on-disk caching mechanism for URL requests to your application"[link](http://n

[2016-07-15 10:09] danielgalasko commented on #79
@garrettmoon I think this can be closed:)

[2016-07-15 15:30] danielgalasko commented on #95
I also understand that `NSURLCache` explicitly caches `NSURLResponse's` but I am curious as to what the creators/community think the advantages are:)

[2016-07-15 16:58] maicki commented on #95
@danielgalasko NSURLCache is build explicitly for caching URL requests. PINCache can be used for caching way more things than just URL requests. That said I guess you have to write a layer on top of PINCache to get full functionality parity with NSURLCache.

As you already said you don't have any insights into NSURLCache. You don't know which strategy in terms of caching Apple uses internally. PIN

[2016-07-15 17:07] danielgalasko commented on #95
@maicki thanks for the response! the transparency of PINCache is a definite advantage but the truth of the matter is that employing Apple frameworks have a slightly easier convince rate than any OSS project. Especially since these projects need to be maintained for free:)

I just don't think having a framework be more 'open' is necessarily the strongest advantage for use but it is an advantage.

I

[2016-07-15 17:24] garrettmoon commented on #95
@danielgalasko Having worked at Apple and on NSCache (ok, I worked on one bug), I would suggest that a platform owned project is not inherently maintained better :)

To answer your question, beyond transparency, I haven't investigated if NSURLCache is better for network response caching compared to PINCache. If all you're doing is caching the actual response of an NSURLConnection / Session it may

[2016-07-15 17:25] garrettmoon commented on #95
I'm going to close this issue to clean things up, but I'm happy to continue discussing :)

[2016-07-15 17:25] #95 closed

[2016-07-15 17:32] danielgalasko commented on #95
Ah yes! @garrettmoon thanks, thats actually something I brought up a little earlier. `NSURLCache` is probably best used for JSON responses and for more complex tastes it seems like `PINCache` is the way to go. Having been to the labs at DubDub I can admit that the code Apple writes isn't always up to the 'best standards'. And OS libraries have the advantage of not being constrained by iOS version

[2016-07-15 17:45] garrettmoon commented on #79
Thanks!

[2016-07-15 17:45] #79 closed

[2016-07-21 17:04] garrettmoon commented on #89
Sorry about not getting this merged in sooner, it's in now!

[2016-07-21 17:04] #89 closed

[2016-07-21 17:06] garrettmoon commented on #87
I think it's likely that both of these are caused by an object that doesn't correctly support NSCoding. I'm not 100% sure, but I haven't seen any traces like these in the Pinterest app.

[2016-07-21 17:07] garrettmoon commented on #87
@binchensjtu any way you can get the object / file that was being encoded / decoded?

[2016-07-21 17:07] #80 closed

[2016-07-21 17:08] garrettmoon commented on #77
This should be fixed in the PINRemoteImage beta!

[2016-07-21 17:08] #77 closed

[2016-07-21 17:08] garrettmoon commented on #58
I'm going to close this, lemme know if you can provide further information.

[2016-07-21 17:08] #58 closed

[2016-07-21 17:09] garrettmoon commented on #62
Going to close this, lemme know if either of you can reproduce the issue.

[2016-07-21 17:09] #62 closed

[2016-07-21 17:09] garrettmoon commented on #87
Closing this for now, but please lemme know if you can provide any clues to diagnose the issue.

[2016-07-21 17:09] #87 closed

[2016-07-23 09:56] joshbernfeld commented on #64
I agree, as of right now I need to manually modify the source to get the intended functionality

[2016-07-23 17:01] garrettmoon commented on #64
@joshbernfeld would happily accept a pull request!

[2016-08-09 14:58] k06a opened #103 "The item couldn’t be saved because the file name"
https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/%E5%90%8D%E9%89%842201F%E3%82%AE%E3%83%A9%E3%83%86%E3%82%A3%E3%83%8A%E3%83%BB%E3%82%B7%E3%82%A7%E3%82%A4%E3%83%9F%E5%8F%B720080720.jpg/700px-%E5%90%8D%E9%89%842201F%E3%82%AE%E3%83%A9%E3%83%86%E3%82%A3%E3%83%8A%E3%83%BB%E3%82%B7%E3%82%A7%E3%82%A4%E3%83%9F%E5%8F%B720080720.jpg

[code]

[2016-08-09 16:41] garrettmoon commented on #103
@k06a this is a known limitation of PINDiskCache currently (because files are stored as with their key and the OS limits the filename length). What we should probably do is assert when the filename is too long.

As a workaround, you can do something like PINRemoteImage does:

[code]

[2016-08-09 18:19] k06a commented on #103
Why not to make this default behavior of PINRemoteImage?

[2016-08-09 18:35] garrettmoon commented on #103
@k06a it is! https://github.com/pinterest/PINRemoteImage/pull/189

If you're on the latest version and still seeing that error, there's probably a bug there and an issue should be opened in PINRemoteImage.

[2016-08-09 18:37] k06a commented on #103
I got this debug log with latest stable version – PINRemoteImage 2.1.4

[2016-08-09 18:47] garrettmoon commented on #103
@k06a yup, that fix is in the latest beta, but not the latest stable version, sorry :(

[2016-08-09 18:47] #103 closed

[2016-08-09 22:43] Adlai-Holler opened #105 "Compiler Should Use Exception-Safety Flag"
PINDiskCache.m should be compiled with `f-objc-arc-exceptions` so that ARC is made exception safe.

In the podspec, you can break those files out into a subspec and make that subspec part of the default spec:

[code]

[2016-08-09 22:46] garrettmoon commented on #105
Awesome catch!

[2016-09-02 03:54] crespoxiao opened #109 "warning of version 2.3"
hi, please check the image.

<img width="1130" alt="2016-09-02 11 53 19" src="https://cloud.githubusercontent.com/assets/1168793/18192137/0130cfba-7104-11e6-8d6a-61f78d9e87b5.png">

[2016-09-02 03:59] crespoxiao opened #110 "crash on version 2.2.2"
hi , there is a low probability(happened once in 30 days) crash when use API objectforkey: ,please check the image below. Is version 2.3 fixed this crash ?

<img width="506" alt="2016-09-02 11 57 26" src="https://cloud.githubusercontent.com/assets/1168793/18192183/9146f19c-7104-11e6-8ec1-625a6e08d47e.png">

<img width="590" alt="2016-09-02 12 01 19" src="https://cloud.githubusercontent.com/assets/

[2016-09-05 08:16] garrettmoon commented on #109
I'm out of the country so won't be able to address this for a few weeks, but I will try and merge a pull request if you put one up!

[2016-09-05 08:19] garrettmoon commented on #110
The stack trace doesn't indicate PINCache. I'm not sure I understand. I can reopen the issue if you provide more details.

[2016-09-05 08:19] #110 closed

[2016-09-07 02:27] crespoxiao commented on #110
hi @garrettmoon  , this crash only affected one user. maybe the phone has some problem or some special condition lead this crash.you can check the images below, hopely you can find something.please let me know when you fix it.
<img width="1191" alt="2016-09-06 10 26 42" src="https://cloud.githubusercontent.com/assets/1168793/18297741/b2876c30-74e5-11e6-94eb-e1812e565db5.png">
<img width="1165" alt

[2016-09-15 09:06] CraigMason opened #112 "Add support for caching files on disk"
We use PINCache (previously TMCache) as part of our caching layer, and we use PINDiskCache as an offline store for image assets and other metadata.

A great feature would be to support the caching of existing files provided by an NSURL.

Use case for us is NSURLSession background session. We download > 2000 files using a background session, which provides a callback with a temporary file url. We h

[2016-09-19 20:18] aurelienp opened #113 "Improve lazy creation of shared trash URL"
Using `dispatch_once` in `sharedTrashURL` implementation ensures that the work is done once.
Unfortunately, this makes the assumption that developers will not delete temporary directory's content. In case he does, it will completely break any future removal from the disk cache.

[2016-09-21 23:49] garrettmoon commented on #110
I don't have any solid leads as to why this would occur :(

Very strange that it's only affecting one user…

[2016-09-22 00:55] appleguy commented on #110
This is a very unusual exception code - EXC_BAD_INSTRUCTION.  Are you by chance using BitCode?  This could be a corruption of the binary / app on the user's phone (e.g. due to a faulty area of flash memory or something else).  This theory could be supported by the fact that there are 12 crashes (consistent), but from the same user.

[2016-10-03 20:20] garrettmoon commented on #109
I just ran the analyzer on master and this doesn't appear. Am I missing something?

[2016-10-03 20:20] #109 closed

[2016-10-03 20:34] #105 closed

[2016-10-08 23:10] maicki opened #123 "Add documentation for PINOperationQueue"
We should add some documentation to the methods in the public header of `PINOperationQueue`

[2016-10-14 23:24] rahul-malik opened #126 "[Feature Request] - Data Structure API"
# Motivation
There are times where you are storing specific data types (lists, dictionaries, etc.) as a value in PINCache. The current implementation allows for these types to be values in the cache but to perform any mutation an outside caller would have to read, mutate and re-cache the object which could lead to mutations of stale data (due to thread-safety). The goal of this proposal is to iden

[2016-10-17 22:51] garrettmoon commented on #126
This is awesome @rahul-malik, thank you for putting it together!

[2016-10-20 21:44] garrettmoon opened #130 "Re-enable TTL Tests"
TTL tests were not behaving reliably and were failing intermittently. We need to make sure they work reliably and re-enable.

[2016-10-20 21:44] garrettmoon commented on #130
Disabled in #131

[2016-10-25 02:10] WildDylan opened #133 "Hey, Why use NSMutableOrderSet and NSMapTable in PINCacheOperationQueue and group?"
Hey, Why use NSMutableOrderSet and NSMapTable in PINCacheOperationQueue and group?

[2016-10-25 03:46] garrettmoon commented on #133
@WildDylan Can you elaborate? What data structures do you think would be more appropriate?

[2016-10-25 04:18] WildDylan commented on #133
@garrettmoon haha, i just want know why use it ...

[2016-10-25 10:59] #133 closed

[2016-10-27 17:00] Adlai-Holler opened #134 "Assertion Failure on Single-Core Devices"
Launching an app that uses PINCache on an iPhone 4 causes immediate assertion failure: `Max concurrent operations must be greater than 1. If it's one, just use a serial queue!`

Best bet is to remove this assertion – it feels over-eager IMO.

[2016-10-27 18:17] biogerm commented on #112
Hi @CraigMason ! How far did you go with development?

[2016-10-28 22:17] appleguy opened #135 "Internal concurrency limit is sometimes saturated by trimToByteSize: calls (while another trim is in progress)."
This set of stacks shows the issue.  Fortunately this should be easy to fix: before we schedule any trimToByteSize: call, we should check a global BOOL to see if another trim is either scheduled, or currently running.

This would need a global lock, but it should be rarely contended.  We could later use that global lock to also protect access to the trash, allowing us to delete the trash directory

[2016-10-28 22:21] appleguy opened #136 "+emptyTrash operation can be optimized by deleting directory as a whole (rather than enumerating files)."
I tried this locally and it's a great win - but a little bit of extra work is needed to make it safe.  We simply need to ensure another directory is created to replace it, before any other file is moved there.

A great implementation would create the trash in a random place, and then when the trash is emptied, delete that place + have the sharedTrashURL's cached URL be cleared.  Then the next time

[2016-10-28 23:34] appleguy opened #137 "Reduce frequency / cost of calls to +emptyTrash and -trimToByteSize: (tolerance % for cleanup)"
Currently we spend a large total resource on calls to these methods.

The example here is from resuming the app on iPod 5G _without_ any user interaction.  Note that when this happens, we re-render a significant number of views that expand their working ranges, so accesses to the cache are common; however, we shouldn't be downloading any new images.

The file read operations would be expected to b

[2016-11-02 01:02] garrettmoon commented on #134
I'm not positive it will *work* with a maxConcurrentOperations of 1. It might, but I'll need to test. I think the issue is this line:
`[[PINOperationQueue alloc] initWithMaxConcurrentOperations:[[NSProcessInfo processInfo] activeProcessorCount]];`

which should be
`[[PINOperationQueue alloc] initWithMaxConcurrentOperations:[[NSProcessInfo processInfo] activeProcessorCount] * 2];

[2016-11-02 01:06] garrettmoon commented on #134
@Adlai-Holler Happy to discuss removing the assertion, but I think it actually catches a legitimate issue.

[2016-11-07 21:30] #134 closed

[2016-11-13 18:36] docterd opened #143 "Make Full Pathname configurable"
Currently PINCache stores always it's data under com.pinterest.PINDiskCache.name. This is very confusing for the user under macOS since he expect his cached data unter the bundler identifier within the Cache folder.

[2016-11-15 22:10] appleguy opened #144 "[Performance] -initializeDiskProperties can take >1.5s on startup."
cc @garrettmoon @nguyenhuy We need to optimize this — the duration is long enough that it impacts the time to use the cache on app startup, which can block image display even though it's off the main thread.

We should spend an hour looking for a simple way to do this — maybe a directory listing query that collects less information about each file, or maintaining a very simple manifest file of cur

[2016-11-15 22:11] garrettmoon commented on #144
If we go with the manifest idea, we'll need to consider how crashes / kills will affect it.

[2016-11-15 22:13] appleguy commented on #144
Yes definitely, some complications with the manifest.  One option would be to occasionally create a new cache directory to put newer files in, and entirely delete the previous one.

[2016-11-17 21:36] garrettmoon opened #145 "[PINOperationQueue] Add unit test to ensure blocks are released after run on the queue"
This would ensure we don't introduce any retain cycles.

[2016-11-17 22:09] nguyenhuy commented on #145
👍feel free to assign this to me if you want.

[2016-11-17 22:41] #135 closed

[2016-11-18 11:27] nguyenhuy commented on #137
Fixed!

[2016-11-18 11:27] #137 closed

[2016-11-18 11:28] nguyenhuy commented on #136
Optimization merged!

[2016-11-18 11:28] #136 closed

[2016-11-21 21:22] nguyenhuy commented on #145
PR merged!

[2016-11-21 21:22] #145 closed

[2016-12-02 08:26] spWang opened #150 "When i set object 1500 times(or more) in global_queue, it will cause UI no response"
When i set object 1500 times(or more) in global_queue, it will cause UI no response
this is code:

#define timeStart() CGFloat start = CACurrentMediaTime();
#define timeEndLogDuration(); NSLog(@"duration:%f",CACurrentMediaTime() - start);

- (void)testThreadSafeForSet {
    PINCache *cache = [PINCache sharedCache];
    timeStart();
    for (int i = 0; i<1500; i++) {
        dispatch_async(dispatch

[2016-12-02 18:12] garrettmoon commented on #150
@spWang Can you give more details or put up a failing unit test? I added this code to the unit tests and it passed for me.

[2016-12-03 04:02] spWang commented on #150
I commit the  code in my github, and I hope you will see it. if my test is not correct,please tell me why, thank you very much!
https://github.com/spWang/PINTest

[2016-12-03 18:40] garrettmoon commented on #150
@spWang thanks for posting the example, now I know the issue!

So this isn't a deadlock, what's happening is you're starving the main thread by doing tons of work on other threads.

Update to the latest PINCache, it has thread limiting built in so that it will only work on a finite number of threads. Then, instead of accessing the cache serially on a dispatch queue, use the block api (you can pass

[2016-12-06 06:38] spWang commented on #150
Firts,thank you very much for helping me solve this problem.
now, I update the latest PINCache, after I read your code,I learned a lot of things.
so, I have another question, why PINCache does not have the exprie time to control the cache, I think it  will be needed in a lot of scene.

[2016-12-06 23:53] garrettmoon commented on #150
It does! However you need to set it on the memory cache or disk cache separately. It's not exposed on the PINCache instance because it's unlikely you should have the same age limit on a memory and disk cache.

Here's how you can set it:
`cache.memoryCache.ageLimit = 60 * 60; // 1 hour`
`cache.diskCache.ageLimit = 60 * 60 * 24 * 30; // 30 days`

[2016-12-06 23:53] #150 closed

[2016-12-08 03:29] liaogang opened #151 "PINCache can store UIImage only ?"
When I stores a NSData object in the cache, I can't get it out.
It print error "not key-value coding-compliant".

[2016-12-08 05:23] hannahmbanana commented on #151
@liaogang - could you include the full error? Also, set an exception breakpoint and print out the full backtrace (`bt all` in the console) for us to see.

PINCache should be able to store NSData, so these details will help us figure out what's going on. :)

[2016-12-08 06:23] liaogang commented on #151
The code I store them:

	NSLog(@"save data length: %lu,class: %@",data.length,data.class);

	 NSLog(@"key: %@",identify);

	[sharedTransformedCache() setObject:data forKey:identify];

The code I read them:

    NSData *data ;
	  NSLog(@"begin read data with key: %@",identify);
    if ([sharedTransformedCache() containsObjectForKey:identify]) {
        @try {
            data = [sharedTransformedCa

[2016-12-08 06:23] liaogang commented on #151
@hannahmbanana

[2016-12-08 06:31] liaogang commented on #151
![2016-12-08 2 28 41](https://cloud.githubusercontent.com/assets/3311527/20999964/0e605340-bd53-11e6-8ea6-72259102a1df.png)
![2016-12-08 2 28 05](https://cloud.githubusercontent.com/assets/3311527/20999966/10b7793e-bd53-11e6-8d78-74ac329a2d25.png)

[2016-12-08 06:50] hannahmbanana commented on #151
@liaogang - I'm new to PINCache, but the README.md file mentions using `-objectForKey:` rather than `-valueForKey:`. Does `-objectForKey` not work?

[2016-12-08 07:01] hannahmbanana commented on #143
@docterd - we'd be happy to accept a pull request if you'd like to add this functionality!

[2016-12-08 07:03] liaogang commented on #151
Yes,you are right, `objectForKey` can work correctly.

[2016-12-08 07:20] hannahmbanana commented on #151
Awesome! I'm going to close this issue since your question appears to have been resolved, but feel free to open another issue if you run into any other problems using the framework. :)

[2016-12-08 07:20] #151 closed

[2016-12-22 07:52] lappp9 opened #155 "Different Default Caches"
It seems that setting the cache limit via `[[PINDiskCache sharedCache] setByteLimit:_]` doesn't affect the disk cache in `[[PINRemoteImageManager sharedImageManager] defaultImageCache]` but it seems like that should be the case right?

[2017-01-20 19:29] ytok opened #161 "Tracking issue for 3.0 release"
Hi!  I'm looking forward to the official release of 3.0 so I've made this issue that we can close out when it's published, if that works for you!

Are there any remaining issues to do before publishing?  I don't see anything left in this milestone and it looks like there aren't any known issues with the latest 3.0.1 Beta 2.

[2017-01-20 20:09] garrettmoon commented on #64
Hey! This got fixed!

[2017-01-20 20:09] #64 closed

[2017-01-20 20:12] garrettmoon commented on #123
Moving this to https://github.com/pinterest/PINOperation/issues

[2017-01-20 20:12] #123 closed

[2017-01-23 16:55] timonus commented on #64
In the fullness of time!

[2017-01-29 07:31] flyosity commented on #155
Wow. I've been using PINRemoteImage in a project for over a year (still in beta) and have been absolutely baffled by the ever-increasing storage usage even when I am judiciously calling trim on the sharedCache. byteCount on the sharedCache always comes back as 0 and I never could figure out why, since it's storing over a gigabyte of items on my phone. This issue by @lappp9 finally explained it to

[2017-02-01 02:13] dssheng opened #165 "[Crash] crash in TrimDiskToSizeByDate() on 3.0.1-beta.2"
PINCache version info:
  - PINCache (3.0.1-beta.2):
    - PINCache/Arc-exception-safe (= 3.0.1-beta.2)
    - PINCache/Core (= 3.0.1-beta.2)
  - PINCache/Arc-exception-safe (3.0.1-beta.2):
    - PINCache/Core
  - PINCache/Core (3.0.1-beta.2)
  - PINRemoteImage (3.0.0-beta.7):
    - PINRemoteImage/FLAnimatedImage (= 3.0.0-beta.7)
    - PINRemoteImage/PINCache (= 3.0.0-beta.7)
  - PINRemoteImage/Core

[2017-02-01 02:16] garrettmoon commented on #165
@dssheng What was the actual crash? Would love to see all the frames on this if possible.

[2017-02-01 02:23] dssheng commented on #165
Report by XCode, some users also crash when Cache full.
Disk Cache limited is 800MB ~ 1GB.
Here is another crash captured image.
![crash3](https://cloud.githubusercontent.com/assets/2062938/22493064/6a684e5a-e868-11e6-87f7-1d11fdd0c308.jpg)

[2017-02-01 07:23] dssheng commented on #165
I'm not sure if this issue similar with https://github.com/pinterest/PINCache/issues/135

[2017-02-01 17:56] garrettmoon commented on #165
@dssheng what is the actual exception thrown though? Without that info it's really hard to diagnose what's going on here. Also, in the first two logs, one of them shows frames in the three hundreds, is this a stack overflow due to infinite recursion? What's going on in those 300 other frames below?

[2017-02-15 06:47] xueminlee opened #172 "Can't build with the newest project."
The issue is: /Users/xueminli/Developement/Zhubajie/work.place/PINCache/Source/PINCache.m:7:9: 'PINOperation/PINOperation.h' file not found.
Could you please help me to find the issue?

Thanks,
Andy

[2017-02-15 06:47] xueminlee commented on #172
Why use PINOperation in PINCache?

[2017-02-15 17:26] maicki commented on #172
@xueminlee We are using `PINOperation` within `PINCache` as it's a better abstraction on top of GCD  . How do you pull `PINCache` into your project? Using Cocoapods or Carthage should work without any problems.

[2017-02-21 17:05] garrettmoon commented on #172
If you use Carthage, you *will* have to link and copy the PINOperation framework into your application. The project itself should build fine on master…

[2017-02-21 17:06] garrettmoon commented on #172
@xueminlee since there has been no reply in a while, I'm going to close this, however please reply back if you are still having issues.

[2017-02-21 17:06] #172 closed

[2017-02-26 09:08] sirvon opened #178 "How do you use this in Swift?"
How can i use this lib that I know is super important in swift projects?
Are there any examples to reference?

thank you for this lib!

[2017-03-06 17:46] #178 closed

[2017-03-18 08:06] muukii opened #180 "Can I store data to except NSCachesDirectory?"

[2017-03-18 08:10] appleguy commented on #180
Could you clarify? The title isn't quite understandable, so please describe your use case / what behavior you'd like to have.

Also check out the API & implementation of PINDiskCache to see if it can give you any clues; it's possible you need to suggest a new API be added here, but if you can make a comment about what such an API would do, it will help us understand if it's a feature that needs to

[2017-03-18 08:14] muukii commented on #180
@appleguy

Thank you.
I'll try to save it in a location other than the Cache directory.

[2017-03-18 08:14] #180 closed

[2017-03-25 07:09] yufanlusc opened #183 "_dates is out of sync with the files on disk"
In enumerateWithBlock(Async) function, before we do the for loop, if we examine the _dates with the files on disk, like this:
`- (void)output
{
    NSArray *keys = @[ NSURLContentModificationDateKey, NSURLTotalFileAllocatedSizeKey ];

    NSError *error = nil;
    NSArray *files = [[NSFileManager defaultManager] contentsOfDirectoryAtURL:_cacheURL

[2017-04-03 22:35] michaeleiselsc opened #184 "Turn off ARC exceptions"
-fobjc-arc-exceptions is turned on for PINDiskCache, which, according to the docs, will cause that file to be significantly slower and larger in size. perhaps the exceptions could be replaced with assertion fails, or just allow the memory to leak

[2017-04-10 23:32] bkase opened #186 "Efficiently wipe disk cache when many items are too old"
Cache clearing via the ageLimit can be too slow when too many items expire all at once. This can hurt app-startup performance. As far as I understand it, this is slow because we check file timestamps and remove files one at a time. Removing directories is faster than removing files so if there were some way that the disk cache could optimize this to remove directories.

Random ideas:

1. Persist t

[2017-04-12 06:46] MaxAdamyan opened #187 "PINCache crashes when low disk memory."
Hi. I'm using PINCache to cache some images using this methods:
`PINCache.shared().setObject(image, forKey: "key")`
`PINCache.shared().object(forKey: "key")`
There is problem when user has very low disk memory, and when PINChache tries to cache an image app crashes. I'm using Crashlytis for bug reporting and I'm pretty sure that this is the case. What can I do to fix this crashes??
Thanks.

[2017-05-03 23:55] garrettmoon commented on #183
@yufanlusc First of all, sorry for the super delayed reply, my GitHub notification settings were all outta wack :(

How far are this outta sync? I could see the file modification date not being set because the app crashed before it could be. If that were the case it wouldn't be read into _dates on startup. It's also possible that setting the attribute failed; we don't do much to handle failures th

[2017-05-03 23:56] garrettmoon commented on #187
@MaxAdamyan sorry for the delayed reply.

There's sadly not much you can do except possibly limit PINCache's size a bit more. PINCache relies on the system to notify it that low memory has occurred, however iOS does not always deliver it in time before it kills the app :(

[2017-05-03 23:56] #187 closed

[2017-05-15 18:27] MarceloJoseML opened #189 "Documentations warning"
take a look in the following method documentation:
/**
 This method enables using literals on the receiving object, such as `cache[@"key"] = object;`.

 @param object An object to be assigned for the key.
 @param key A key to associate with the object. This string will be copied.
 */
- (void)setObject:(id)obj forKeyedSubscript:(NSString *)key;

Replace object for obj to avoid warnings

[2017-05-17 15:06] maicki commented on #189
@MarceloJoseML Hey, it seems like this is already fixed on master. Please reopen if not. Thanks!

[2017-05-17 15:06] #189 closed

[2017-05-30 20:35] mergesort opened #190 "PINCache.shared.diskCache.setObject() incorrectly supports non-NSCoding parameters"
I'm filing a bug based on our conversation starting here: https://twitter.com/mergesort/status/867091524353486853

It appears to be a side effect from adopting the `PINCaching` protocol.

<img width="969" alt="pincache bug to file" src="https://cloud.githubusercontent.com/assets/716513/26603128/c51a600c-4553-11e7-8014-633434810a82.png">

[2017-05-30 20:41] garrettmoon commented on #184
@michaeleiselsc I would love to know the actual costs to speed and app size before making this tradeoff…

[2017-05-30 21:14] michaeleiselsc commented on #184
hard to say, but perhaps it'd be worth profiling

[2017-05-30 21:16] michaeleiselsc commented on #184
from https://clang.llvm.org/docs/AutomaticReferenceCounting.html:
"The standard Cocoa convention is that exceptions signal programmer error and are not intended to be recovered from. Making code exceptions-safe by default would impose severe runtime and code size penalties on code that typically does not actually care about exceptions safety. Therefore, ARC-generated code leaks by default on excep

[2017-05-30 21:17] michaeleiselsc commented on #184
it's also, iirc, turned off by default for new projects

[2017-06-06 23:46] yufanlusc commented on #183
Thanks for the response! @garrettmoon
And let me apologize, I think it's our fault to use PINCache in a wrong way. I don't think current PINCache has any problem.

Thanks!

[2017-06-06 23:46] #183 closed

[2017-06-13 01:30] MattRidge opened #191 "Cocoa error -1"
I am getting this error on iOS 10.3.3 using Pinterest version 6.27

[2017-06-13 16:23] garrettmoon commented on #184
@michaeleiselsc the way I read that says we *should* have the recovered exceptions. We don't terminate the program on exception *and* the file API explicitly says it throws exceptions on errors. And in practice it does it a lot when setting dates :(

[2017-06-13 17:32] michaeleisel commented on #184
interesting, i wonder if we could isolate the places where we *need* exception safe code, and put those into a separate file

[2017-06-13 21:45] garrettmoon commented on #184
@michaeleiselsc further than the disk cache? They're only enabled for the disk cache currently.

[2017-06-13 21:50] garrettmoon commented on #184
By the way, I also agree that it's worth profiling before we make this decision. Would love it if someone would post the difference. To be frank, this hasn't come up in any traces at Pinterest so I'm unlikely to take the time to investigate.

[2017-06-13 22:09] garrettmoon commented on #191
@MattRidge This isn't really an actionable report. Can you give more info?

[2017-06-13 22:18] MattRidge commented on #191
On my IPhone, Whenever I attempt to download an image to my photo library is when I get this error. That's all the information is ever given to me is a Coco error -1

[2017-06-13 22:34] michaeleisel commented on #184
It won't come up in any traces because it affects everything a little bit. It's not adding/removing method calls, but it's allowing the compiler to make further optimizations, allocate less memory, etc.

[2017-06-13 23:05] garrettmoon commented on #191
@MattRidge Just so we're clear, this is an error that you get when you use the Pinterest app and has nothing to do with PINCache?

[2017-06-13 23:23] MattRidge commented on #191
That is correct. I went to file a bug via the app and I was sent here.

[2017-06-14 04:59] michaeleisel commented on #184
although you can't be too sure, if the pin disk cache's time is mostly spent in frameworks that it calls into, then yeah you won't see much gain

[2017-06-15 17:32] garrettmoon commented on #184
@michaeleisel if it doesn't show up in the profiler, it doesn't seem worth it to me? And yeah, PINDiskCache is bound by I/O primarily.

[2017-06-15 17:33] garrettmoon commented on #191
@MattRidge That's odd, this is definitely not the right place to file a Pinterest app bug. Can you let me know how you were sent here so I can figure out how to make sure bug reports get routed correctly in the future?

[2017-06-15 17:57] MattRidge commented on #191
I originally tried doing a google search for the error after sending a request via Pintrest to see if there was a known bug, etc.  Then I found someone saying that it was a known issue and to post here.  That was a while back so I'm not sure I have the pages anymore...

[2017-06-15 18:39] michaeleisel commented on #184
makes sense

[2017-06-16 16:35] garrettmoon commented on #191
I see, yeah, for future reference bug reports should go here: https://help.pinterest.com/en/login-request

[2017-06-16 16:35] #191 closed

[2017-06-16 16:35] garrettmoon commented on #184
Cool, I'm going to close this out for now, happy to continue discussion if someone would like to post some profiling data.

[2017-06-16 16:35] #184 closed

[2017-07-28 09:59] oferRounds opened #193 "Some links in Readme file are broken"
These are: `PINCache`, `PINMemoryCache` and `PINDiskCache` links.

Also, in the sentence:

PINDiskCache does not use the code formatting.

[2017-07-28 18:01] oferRounds commented on #193
Cool!

[2017-07-28 18:01] #193 closed

[2017-07-28 18:03] garrettmoon commented on #193
Thanks for reporting @oferRounds !

[2017-07-28 18:04] oferRounds commented on #193
👍👍

[2017-08-30 03:14] wenhao-fly commented on #87
** Collection <__NSArrayM: 0x170457d60> was mutated while being enumerated.
CaiLianShe -[PINDiskCache setObject:forKey:fileURL:] (PINDiskCache.m:)      ??

[2017-08-30 03:15] wenhao-fly commented on #87
*** Collection <__NSArrayM: 0x170457d60> was mutated while being enumerated.
 -[PINDiskCache setObject:forKey:fileURL:] (PINDiskCache.m:).  ?

[2017-09-01 17:14] justin1121 opened #195 "deserialize failure fails silently"
Hello,

I noticed this piece of code fails silently if the deserialization fails on one of the objects. I think it should probably be a fatal and just print out the exception and crash. Spent a while debugging, trying to figure out what was going on.

https://github.com/pinterest/PINCache/blob/master/Source/PINDiskCache.m#L856

[2017-09-05 17:23] garrettmoon commented on #195
@justin1121 The history behind this is we were hearing reports of infrequent crashes. The theory was that somehow the objects on disk were corrupted, perhaps because the app crashed while serializing to disk. In that case, it's better to drop the object as this is a cache, not a guaranteed backing store than crash perhaps over and over again on startup. Seem reasonable?

[2017-09-05 17:24] garrettmoon commented on #195
Perhaps we should add an assert for debugging purposes? I'd be open to that! (Though the PINDiskError is meant to aid in debugging)

[2017-09-05 17:27] garrettmoon commented on #87
@wenhao-fly what does your object serialization / deserialization code look like?

[2017-09-05 18:00] justin1121 commented on #195
Yeah that makes sense. I think doing something like just printing PINDiskCacheError would help. The problem with the one that's there now is that it just prints the error that may come out of removing the file. If there's no error removing the file then it wouldn't print anything.

[2017-09-05 18:01] justin1121 commented on #195
Check out that pull request. Think it will help with the problems I was having. Thanks!

[2017-09-06 17:31] garrettmoon commented on #195
Awesome, thanks for putting it up!

[2017-09-11 02:53] chenjin0624 opened #197 "Change cache directory issue"
cacheURL of PINDiskCache is readonly(**@property (readonly) NSURL *cacheURL**),it can't modify.I want to change the storage directory,How to do?

[2017-09-11 02:59] chenjin0624 commented on #197
- (instancetype)initWithName:(NSString *)name rootPath:(NSString *)rootPath

[2017-09-11 02:59] #197 closed

[2017-09-18 16:27] #195 closed

[2017-10-06 21:58] garrettmoon commented on #31
@kerrmarin TTL has been implemented as an option. Does this address this issue?

[2017-10-06 22:04] garrettmoon commented on #144
This has been addressed in https://github.com/pinterest/PINCache/pull/203

[2017-10-06 22:04] garrettmoon commented on #144
Going to close for now, if it still seems to be an issue in profiling we'll reopen.

[2017-10-06 22:04] #144 closed

[2017-10-06 22:06] garrettmoon commented on #165
Going to close this out since I haven't heard back.

[2017-10-06 22:06] #165 closed

[2017-10-12 12:52] thekirankumar commented on #58
For people using PINCache along with VideoNode or AVPlayer, you can use a custom serializer to just pass through the NSData as is without archiving. This worked for us.
Also additionally you need to have a custom key encoder to make the filenames on disk to end with .mp4

[2017-11-06 12:39] codeOfRobin opened #207 "Observe changes"
Hey folks!
It'd be great if you could observe changes to the cache (say if the object at a particular key was set, you'd be able to subscribe to notifications of those changes). I'm not sure how it'd be implemented though (perhaps adding an `NSNotification` to the `setObject` methods?). Any suggestions?

[2017-12-04 09:02] zkrige opened #208 "Cocoapods"
Please update cocoapods with the latest version

[2017-12-04 18:45] #208 closed

[2017-12-04 18:45] garrettmoon commented on #208
@zkrige the latest released version is on cocoa pods, we'll get to a new release soon!

[2017-12-04 18:46] garrettmoon commented on #208
Also as an FYI, you can always point to a specific commit with cocoa pods or just the master branch.

[2017-12-05 05:17] zkrige commented on #208
Thanks!

I noticed some XCode  compiler warnings, and wanted to submit a PR, but the latest code in your repo has fixed the warnings already

I am aware that you can point to the git repo, but I prefer to run everything through standard cocoapods releases.

I'll keep an eye out for the next release.

keep up the amazing work

[2018-03-01 06:49] zubair commented on #190
Hey I'm interested in solving this issue. Please let me know how I may help!

[2018-03-16 11:34] mikeRozen opened #215 "Change Cache Location under Library OR protect it from being Deleted"
Hi,
I think that current issue is more related to feature.
I noticed that Pincache saves its cache under _Library/Caches/com.pint......._
According to apple documentation this folder will not be preserved during updates and may be deleted on low memory cases (obviously won't be backed up)

[storing private data](https://developer.apple.com/library/content/qa/qa1699/_index.html)
   [file system](ht

[2018-03-19 09:38] tanranran commented on #215
+1

[2018-03-19 23:54] Quartme opened #216 "Make disk size trim algorithm more efficient"
I'm using a PINDiskCache to store roughly 1000 images when it reaches the disk cache limit specified.

After the cache reaches it's limit, it looks like nearly every call to -setObjectAsync:forKey:completion: to add an item to the cache triggers one -trimDiskToSizeByDate: call. This call sorts the _metadata array so the code ends up sorting this same array repeatedly.

We could mitigate the costs

[2018-03-25 09:32] vishal2647 opened #219 "Unable to submit app"
Guys,
I am unable to submit my app on your website: https://developers.pinterest.com/apps/
I have already authorized my app and when i am trying to submit the app for review process, i am not able to submit it and i am getting “502 Bad Gateway” response and error message is: The MySQL server is running with the — read-only option so it cannot execute this statement.
This is not expected from reput

[2018-03-26 23:36] garrettmoon commented on #219
@vishal2647 This isn't the proper place for this feedback.

[2018-03-26 23:36] #219 closed

[2018-03-27 00:23] garrettmoon commented on #215
You can set where you want the disk cache to live when you initialize it: `initWithName:name:rootPath:serializer:deserializer:`

Just specify a different rootPath and that's where the cache will be stored! You'll also need to specify a name. You can pass nil for serializer and deserializer.

[2018-03-27 00:23] #215 closed

[2018-04-14 18:37] BaranEm opened #221 "Instruments: "Failed to destroy lock in PINMemoryCache""
Why do I get the error message: "Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason:
'Failed to destroy lock in PINMemoryCache 0x105a133a0. Code: 22'" when trying to start recording with instruments?

Happens on device only right now (actually running on simulator causes a different error: "Assertion failure in -[PINDiskCache dealloc](), .../Pods/PINCache/Source/P

[2018-04-26 20:42] garrettmoon commented on #221
@BaranEm Interesting! I haven't seen anything like that. Does this make it so you're not able to instrument your app?

[2018-06-13 00:23] wiseoldduck opened #226 "Cannot initialize with a TTL memory cache"
`- (instancetype)initWithName:(nonnull NSString *)name
                    rootPath:(nonnull NSString *)rootPath
                  serializer:(nullable PINDiskCacheSerializerBlock)serializer
                deserializer:(nullable PINDiskCacheDeserializerBlock)deserializer
                  keyEncoder:(nullable PINDiskCacheKeyEncoderBlock)keyEncoder
                  keyDecoder:(nullable PINDiskCac

[2018-06-17 10:27] Leon0206 opened #229 "Why can't the picture be cached to disk?"
UIImage *image = [UIImage imageNamed:@"launch.jpg"];
    [[PINCache sharedCache]setObject:image forKey:@"image_key"];
    dispatch_after(dispatch_time(DISPATCH_TIME_NOW, (int64_t)(10 * NSEC_PER_SEC)), dispatch_get_main_queue(), ^{
        [[PINCache sharedCache]objectForKey:@"image_key" block:^(PINCache * _Nonnull cache, NSString * _Nonnull key, id  _Nullable object) {
            NSLog(@"------>%

[2018-06-18 01:04] appleguy commented on #229
Suggest you use PINRemoteImage, which is designed to drive PINCache for
this use case.

Have you set some breakpoints in PINDiskCache to make sure it is being
created and configured correctly?

On Sun, Jun 17, 2018 at 3:27 AM lizitao <notifications@github.com> wrote:

[2018-06-18 03:01] Leon0206 commented on #229
thank u for your reply, I've tried the following way:
   UIImage *image = [UIImage imageNamed:@"launch.jpg"];
    [[PINDiskCache sharedCache]setObject:image forKey:@"image_disk_key"];
    [[PINDiskCache sharedCache]objectForKey:@"image_disk_key" block:^(PINDiskCache * _Nonnull cache, NSString * _Nonnull key, id<NSCoding>  _Nullable object, NSURL * _Nonnull fileURL) {
        NSLog(@"------>%@",obj

[2018-06-19 17:16] garrettmoon commented on #229
@Leon0206 PINDiskCache only supports caching objects which support the NSCoding protocol. UIImage doesn't support this (but you could probably add support).

Hope this helps!

[2018-06-19 17:16] #229 closed

[2018-06-20 00:13] garrettmoon commented on #229
As @appleguy said though, PINRemoteImage will handle this for you and supports local file paths.

[2018-07-15 05:46] internalG opened #230 "Which version for now?"
The default version in pod is 2.3 and generates a lot of warnings in Xcode. But the pre-release has many Deprecated without documentation. So which version had been tested in  production?

[2018-07-16 22:47] garrettmoon commented on #230
We run off master in production. Each of the beta releases is run in production before we publish them.

[2018-07-16 22:47] #230 closed

[2018-07-30 06:11] puzhaoqi opened #231 "Error Domain=NSPOSIXErrorDomain Code=63 "File name too long""
Error Domain=NSCocoaErrorDomain Code=514 "The item couldn’t be saved because the file name X NSUnderlyingError=0x600003ef4300 {Error Domain=NSPOSIXErrorDomain Code=63 "File name too long"
X is a long file name.

[2018-07-31 18:42] #231 closed

[2018-09-17 08:10] bapidashu opened #232 "数据被清空"
Hello, Sir
I use [PINCache sharedCache] in the APP to cache data.
But when I came over and opened the APP for a while, I found that all my cached data had been cleared.
[PINCache sharedCache] can cache data on disk and memory, why my data on disk is also cleared?
Data emptying

[2018-10-22 17:13] AdamBCo opened #235 "Check if PINCache is empty"
Is there any easy way to check if the PINCache is empty?

[2018-10-29 01:41] Quanhua-Guan opened #236 "For DiskCache, Why not cache meta datas? or use Sqlite to store meta datas?"
When more and more data cache in DiskCache, the startup can cost a lot of time, and before that we can not get data from disk cache.

[2018-10-29 03:18] Quanhua-Guan commented on #236
Test on iPhone 8 Plus

Item count Cached | time used to init PINDiskCache
- 228                        |  24~27ms
- 1000                      |  30~32ms
- 10000                    |  123~125ms
- 100000                 |  3651ms = 3.651s

[2018-10-29 06:05] Quanhua-Guan commented on #232
PINDiskCache磁盘缓存默认限制了50M, 超过大小会被自动清理.  @bapidashu

[2018-10-29 06:35] bapidashu commented on #232
好的,非常感谢

[2018-10-29 06:45] bapidashu commented on #232
/**
 The maximum number of bytes allowed on disk. This value is checked every time an object is set, if the written
 size exceeds the limit a trim call is queued. Defaults to `0.0`, meaning no practical limit.

 */
@property (assign) NSUInteger byteLimit;

但是我看他源码说默认是没有限制的啊,那么这个50M是从哪里得来的呢

[2018-10-29 06:56] Quanhua-Guan commented on #232
https://github.com/pinterest/PINCache/blob/master/Source/PINDiskCache.m
line 216 @bapidashu

[2018-10-29 07:31] bapidashu commented on #232
好吧,那意思说我如果不需要限制的话,就需要将这个byteLimit 设置为0就好了么

[2018-10-29 09:57] Quanhua-Guan commented on #232
是的. 当代码是这样的.

[2018-11-06 03:07] internalG commented on #226
Yes, it also happens in sharedCache. The TTL support in latest code is confusing.

[2018-11-14 19:04] #31 closed

[2018-11-15 01:11] bapidashu commented on #232
Thank you very much for your reply.

Yes, I understand that the cache is cleared.
But why is the data stored on the disk also cleared? And every time it's cleared with the cache, it's confusing to me.
And I've set the storage size and time to be infinite.
I also found this problem on only older models (I used the iPhone6sPlus, and there were some issues with the device's main board).
Is this a pro

[2018-12-12 08:18] Alaabzour opened #237 "PINDiskCache not support large files"
try to sore large file such as 250 MB, it is not worked!

[2018-12-19 10:57] internalG opened #238 "How to cache pure html in file?"
I want to cache my html strings in file, so that my browser can load that file with value of fileURLForKey. I know there's something about NSCoding and tried, but the cache always saves with keys etc. Is there simple way to cache as a real html file?

[2019-01-16 22:34] garrettmoon commented on #238
I'm not sure PINCache is the best way to achieve this. Have you looked into a custom [URLCache](https://developer.apple.com/documentation/foundation/urlcache)?

[2019-01-16 22:34] #238 closed

[2019-01-25 18:52] jaekyeom opened #239 "Disk usage breakdown tool for normal users?"
I'm not an iOS or macOS developer. I just use macOS.

Some time ago, I realized that `~/Library/Caches/com.pinterest.PINDiskCache.PINCacheShared` is taking up a lot of disk space.

Is there any way for normal users to see PINCache's disk usage breakdown by apps? Or maybe an administrative tool that lists all the keys exist?

Thank you.

[2019-01-29 19:37] garrettmoon commented on #239
Hmm, no and it's beyond the scope of the library to provide that type of thing for end users – it's up to the software developers creating the apps.

But the keys in general should be the filenames within that directory. Hopefully that helps a bit!

[2019-01-29 19:37] #239 closed

[2019-03-28 13:04] rajeshs73 opened #240 "Disk size gets trimmed to default size on Init itself"
If my disk size is more than default size, it gets trimmed to default size on initialising PINCache.
Due to that, my images are downloading again and again and getting stored in disk.

[2019-03-28 13:06] rajeshs73 commented on #240
One suggestion would be, Keeping byteLimit as initialising parameter for PINCache.

[2019-04-01 21:28] OkiRules opened #241 "Please update for Swift 5"
Please update for Swift 5.

Thanks!

[2019-04-23 21:44] garrettmoon commented on #241
@OkiRules always open to pull requests! I'm not sure what needs to be done to update for swift 5 though, there's no swift in PINCache.

[2019-04-29 18:15] brurend opened #244 "Swift Codable Structs"
PINCache isn't compatible with Codable, right? Since setObject methods needs an NSCoding object.

Is this compatibility on your roadmap? Or there is anyway I can work around this problem?

[2019-05-07 03:28] ivanrein commented on #244
What's wrong with just encoding it to NSData?
[code]

[2019-05-10 18:13] #244 closed

[2019-05-13 03:06] mc7h commented on #226
I was experiencing some strange behaviour calling the deprecated `setTtlCache`. My disk cache was being deleted up instantiation of the manager.

[2019-05-13 04:26] mc7h commented on #226
Agreed, it's confusing - I ran into issues once I adopted it - my previous custom cache started deleting the disk cache upon instantiation of the Manager.
Also, shouldn't there be away to turn on TTL for the cache of the default Manager.

[2019-06-10 21:46] #226 closed

[2019-06-10 21:47] #241 closed

[2019-06-11 06:12] OkiRules opened #248 "Errors in Xcode"
As follows:

<img width="265" alt="Screen Shot 2019-06-11 at 4 12 05 pm" src="https://user-images.githubusercontent.com/18746541/59247734-a9cdd280-8c63-11e9-8843-aa0453f33959.png">

[2019-06-11 17:04] garrettmoon commented on #248
Both of these have been addressed in master.

[2019-06-11 17:04] #248 closed

[2019-06-11 17:08] garrettmoon commented on #240
@rajeshs73 if you set the byteLimit immediately after initialization this shouldn't be an issue in practice (though I agree we should allow setting this on init) because the trimming doesn't happen until the file state is known which takes a while. Have you tried setting the byteLimit immediately after initializing the disk?

[2019-06-11 17:08] garrettmoon commented on #237
I'm going to close this out since I haven't heard back.

[2019-06-11 17:08] #237 closed

[2019-06-12 05:50] rajeshs73 commented on #240
@garrettmoon  I did set the byteLimit soon after the initialization. It falls back to default size on app open (mostly 6 out of 10 times)

[2019-08-05 20:48] coreylowegp commented on #2
Has this been implemented?

[2019-09-07 06:00] trungnguyen1791 commented on #240
Did you solve this problem @rajeshs73?

[2019-09-16 04:41] rajeshs73 commented on #240
No. I haven't.

[2019-10-08 17:42] mycroftcanner opened #254 "PINDiskCache permission error"
I keep seeing those.

[2019-10-17 14:31] mycroftcanner commented on #254
I noticed this after iOS 13 release... any ideas? @garrettmoon

[2019-12-10 03:13] sunWaterMood opened #255 "PINCache - (void)trimToDate:(NSDate *)date There is something wrong with the logic of this method."
There is something wrong with the logic of this method. The time must be set before the setobject method, and the logic is not correct. Clench the source code and find that as long as the trim method is called, all previous caches will be cleared.

[2019-12-10 18:52] garrettmoon commented on #255
@sunWaterMood I'm not sure I understand, can you provide more details?

[2019-12-11 01:30] sunWaterMood commented on #255
- (void)trimToDate:(NSDate *)date  Can you tell me how to clear the previous cache?

[2019-12-13 18:20] garrettmoon commented on #255
@sunWaterMood I'm sorry, I still don't know what the issue is. If you're simply trying to clear the cache, you can call `removeAllObjects`

If you can provide more details I'm happy to reopen this issue!

[2019-12-13 18:20] #255 closed

[2020-01-31 15:41] jlaws opened #256 "Discrepancy between Header Comment and Implementation"
PINDiskCache.h line 156 states

[code]

**It states the byteLimit and ageLimit default to 0.  This is not actually the case based on the code** in PINDiskCache.m line 215

[code]

Either the header needs to be updated or the defaults need to change.

[2020-02-03 20:54] #256 closed

[2020-02-15 09:15] JunyuKuang commented on #254
The issue is still appear on iOS 13.4. Did you managed to get around it?

[2020-03-10 23:56] garrettmoon commented on #254
Has anyone seen this affecting performance or cache hit rates? Do you all have a way to reproduce it?

[2020-04-11 05:34] rynecheow opened #267 "Any plans of stable release?"

[2020-04-12 08:33] dreampiggy opened #268 "PINCache's Carthage seems does not support watchOS"
Hi.

I'm the maintainer of [SDWebImage](https://github.com/SDWebImage/SDWebImage), and I'd like to provide a custom cache integration plugin of PINCache into SD's cache system.

The plugin is here: https://github.com/SDWebImage/SDWebImagePINPlugin

However, although the readme point the PINCache support watchOS, and the CocoaPods one support as well. For Carthage, it does not support watchOS. Beca

[2020-04-13 05:43] dreampiggy commented on #268
@kinarobin Hi. Can you provide some feedback to the team member, or are there any user who maintain the issue lists and PRs ?

If so, I can create a PR for this Carthage watchOS fix.

[2020-05-22 02:28] dreampiggy commented on #268
Seems the PINCache already merge the Carthage support. Once they release new version, I'll update this PR.

[2020-06-04 12:42] coulonb opened #271 "Swift Package Manager compatibility"
Hi,

Do you have any ideas when it will be possible to install with SPM ?
Thank you,

[2020-07-08 11:54] coulonb commented on #271
Any ideas ?

[2020-08-07 11:43] mycroftcanner opened #275 "PINCache doesn't build in Xcode 12 Beta 4"
It generates a lot of semantic issues:

[2020-08-07 13:51] richieWave commented on #275
This

[2020-08-08 14:54] mycroftcanner commented on #275
It builds now after this [commit](https://github.com/pinterest/PINCache/pull/273/files/3267654d1d24fdb22bfb61aaa62b2d2e511554f0) but tests fail.

PINMemoryCache is also broken

[2020-08-11 17:43] garrettmoon commented on #275
@mycroftcanner Tests succeed for me locally, can you explain which tests fail and what you mean by PINMemoryCache is broken?

[2020-08-12 13:09] arangato commented on #275
I had a bunch of compilation errors in tests as well. All looking like the one @mycroftcanner initially reported. I've fixed it in [this PR](https://github.com/pinterest/PINCache/pull/276).

[2020-08-12 21:07] garrettmoon commented on #275
@mycroftcanner I just merged @arangato 's PR (thank you!), does this address what you were hitting?

[2020-08-20 23:50] #268 closed

[2020-08-21 03:15] dreampiggy commented on #268
Seems PINOperation does not release new version. PINCache's WatchOS target still broken. @garrettmoon

[2020-08-21 03:18] dreampiggy commented on #268
![image](https://user-images.githubusercontent.com/6919743/90848659-fbadd480-e39f-11ea-8b15-863c0aeca514.png)

Seems...PINCache does not have a watchOS target?

[2020-08-26 07:18] Anatol1986 commented on #275
The same issues also available on Xcode Version 12.0 beta 5

[2020-08-27 17:42] mycroftcanner commented on #275
@garrettmoon CocoaPods still look for old version and you specify the master branch then PINRemoteImage is out of sync and Texture won't build too.

[2020-08-28 21:49] bluemachine commented on #275
Issue still persists in Xcode 12 beta 5 with following pods
PINCache (3.0.1-beta.8)
PINOperation (1.1.2)
PINRemoteImage (3.0.0)

![Screenshot 2020-08-28 at 23 49 25](https://user-images.githubusercontent.com/880597/91617820-27751f80-e989-11ea-9440-ebed8e5d839d.png)

[2020-08-29 14:26] bluemachine commented on #275
Upgraded to Xcode 12 beta 6 and getting just this 1 issue. Hoping you could fix it soon.

![Screenshot 2020-08-29 at 16 25 24](https://user-images.githubusercontent.com/880597/91639088-58e6fd00-ea14-11ea-8d38-e669cf1ece5c.png)

[2020-09-04 11:20] ehsan-ff commented on #275
Facing the same issue on Xcode 12 beta 6.

[2020-09-07 18:28] hexadecimal-REBOOT commented on #275
Has anyone been successful with getting it to build. I'm getting the same error message Incompatible block pointer types.

[2020-09-08 02:23] sagesse-cn commented on #275
add the flags into bulid config CFLAGS to disable check
[code]

[2020-09-08 17:03] garrettmoon commented on #275
This has been fixed in PINCache 3.0.1. We'll put out a new PINRemoteImage release which includes this soon.

[2020-09-08 17:03] #275 closed

[2020-09-08 18:52] bluemachine commented on #275
When we install the pod PINRemoteImage - it installs with following pods

Installing PINCache (3.0.1-beta.8)
Installing PINOperation (1.1.2)
Installing PINRemoteImage (3.0.0)

To update as suggested - when we install PINCache it updates to latest version but installs an older version of PINRemoteImage and followings pods.

Installing FLAnimatedImage (1.0.12)
Installing PINCache 3.0.1 (was 3.0.1-be

[2020-09-15 12:17] alisamaiee commented on #275
I have fixed it doing these steps:

1- Find PINCache+PINRemoteImageCaching.m file in your project and replace it with this file:
https://github.com/pinterest/PINRemoteImage/blob/master/Source/Classes/PINCache/PINCache%2BPINRemoteImageCaching.m

2- Apply changes of this commit to your project files (or you can simply replace the files witch had change during this commit):
https://github.com/pintere

[2020-09-17 01:13] sjmueller commented on #271
Since https://github.com/pinterest/PINOperation has SPM support, it'd be great to also have it here for those of us coming from Snapchat's SnapKit!

[2020-09-21 02:03] zhouxubin opened #284 "Error in xcode12 compilation"
When I upgraded to xcode12, the compiler reported 23 errors in the morning

`Incompatible block pointer types initializing '__strong PINCacheObjectBlock' (aka 'void (^__strong)(id<PINCaching>  _Nonnull __strong, NSString * _Nonnull __strong, id  _Nullable __strong)') with an expression of type 'PINDiskCacheObjectBlock  _Nullable __strong' (aka 'void (^__strong)(PINDiskCache * _Nonnull __strong, NS

[2020-09-21 08:17] Mammadbayli commented on #284
I also have the same problem, downgraded to 11.7 for now.

[2020-09-22 09:42] Rexrohan commented on #275
Is this works

[2020-09-22 19:14] altonlau opened #285 "`make carthage` Fails On Xcode 12"
# Error
[code]

# Repro Steps
**I am using Xcode 12**
You will need to use the workaround introduced in https://github.com/Carthage/Carthage/issues/3019#issuecomment-664099506.

1. Create a file called `carthage_workaround.xcconfig` with the workaround mentioned above
[code]
2. Run `XCODE_XCCONFIG_FILE=carthage_workaround.xcconfig make carthage`

# Investigation
I suspect this has something to do

[2020-09-23 01:59] abuzzworld commented on #284
emmmmm

[2020-09-23 07:56] Rexrohan commented on #275
where to add the flag, I have added in build settings flags still error shows.

[2020-09-23 07:57] Rexrohan commented on #275
this one also not working for me

[2020-09-23 08:42] Plnda commented on #284
https://github.com/pinterest/PINCache/pull/281 this PR will fix it

[2020-09-23 14:35] garrettmoon commented on #284
@zhouxubin can you confirm you are using 3.0.1?

[2020-09-24 08:23] unamed000 commented on #284
I'm having the exact problem

[2020-09-24 18:30] garrettmoon commented on #284
@unamed000 what version of PINCache are you using?

[2020-09-25 06:08] SAYEDALISINA93 commented on #275
Still have this issue with the Xcode 12 final version.

Should I change my Xcode back to 11 or there is a solution to solve it?

[2020-10-01 02:56] unamed000 commented on #284
@garrettmoon
I'm using version 3.0.1

[2020-10-01 21:19] 3a4oT commented on #271
#283

[2020-10-01 21:28] garrettmoon commented on #271
Merged! Thank you @3a4oT !

[2020-10-01 21:28] #271 closed

[2020-10-05 19:17] theoneit commented on #284
was it fixed? any update?

[2020-10-05 19:30] garrettmoon commented on #284
@unamed000 3.0.1 was released, please update!

[2020-10-05 19:30] #284 closed

[2020-10-08 08:33] internalG opened #289 "Module 'PINOperation' not found ERROR in objc!"
The @import PINOperation; change bring this error to project. The SPM support breaks objc project.

[2020-10-09 09:10] Braindie commented on #289
+1

[2020-10-10 16:35] iwheelbuy commented on #289
+1

[2020-10-10 16:43] iwheelbuy commented on #289
I believe something is wrong with `pod 'PINCache', '3.0.2'`

[code]

This way it works for me.

[2020-10-10 17:43] garrettmoon commented on #289
What version of Xcode are you using? Can you upload a sample project demonstrating the issue?

[2020-10-10 17:58] iwheelbuy commented on #289
@garrettmoon 12 GM or 12.0.1 - both don't work.
[PIN.zip](https://github.com/pinterest/PINCache/files/5359612/PIN.zip)

[2020-10-12 09:30] yang152412 commented on #289
+1

[2020-10-12 10:23] luoshihui commented on #289
+1

[2020-10-12 14:51] internalG commented on #289
The podfile to reproduce the issue:

# Uncomment this line to define a global platform for your project
platform :ios, '8.0'

# ignore all warnings from all pods
inhibit_all_warnings!

target 'pname' do
pod 'AFNetworking/NSURLConnection', '~> 2.0'
pod 'PINCache'
end

target 'OneRiliTests' do

end

# fix warnings in Xcode 10
post_install do |installer|
  installer.pods_project.targets.each do |targ

[2020-10-22 07:12] VictorZhang2014 commented on #275
![image](https://user-images.githubusercontent.com/6853884/96837343-d9583600-1478-11eb-9940-ee872a5f1499.png)
![image](https://user-images.githubusercontent.com/6853884/96837372-e83ee880-1478-11eb-85e9-f676f9104471.png)

It's not working on Xcode 12.0, as you all mentioned above.

[2020-10-22 07:49] sagesse-cn commented on #275
You must use `PINCache` version 3.0.2 or above.

[2020-10-22 17:38] garrettmoon commented on #289
You're not missing anything – it takes us time to cascade releases all the way down to Texture. I'm working on making this easier so we take less time!

[2020-10-22 17:39] garrettmoon commented on #285
@altonlau is this fixed now that #282 is merged?

[2020-10-28 19:48] altonlau commented on #285
@garrettmoon yes I can close this. Thanks!

[2020-10-28 19:48] #285 closed

[2020-11-05 21:29] mjbshaw opened #295 "PINDiskCache: +[moveItemAtURLToTrash:] races with +[emptyTrash]"
Proof of concept:

[code]

The `XCTAssertNil` check fails eventually:

<img width="857" alt="Test failure" src="https://user-images.githubusercontent.com/1204698/98295693-20f9ba00-1f6f-11eb-915c-78a0c40af6a5.png">

`-[PINDiskCache removeAllObjects]` calls `+[PINDiskCache emptyTrash]`. This calls `dispatch_async(...)`, which schedules the block but doesn't execute it.

`-[PINDiskCache removeObjectF

[2020-11-05 23:28] bolsinga opened #297 "Uses +[NSKeyedUnarchiver unarchiveObjectWithData:] which is deprecated when targeting iOS12"
There is a simple replacement.

[2020-11-06 04:13] bolsinga commented on #297
-unarchiveObjectWithData: addressed with #247

[2020-11-06 20:27] #295 closed

[2020-11-12 10:08] icedice opened #299 "Using MemCache as TTL but not disk cache"
I want to serve the data from the cache without even hitting the backend if it is somewhat fresh. I see two possible way os doing this:

1) Check when item was added to memory cache and serve if fresh. I do however not see anyway of checking when item was added to the cache

2) Use mem cache in TTL mode with short time span. This way I could just serve the item form cache if present. But I don't s

[2020-11-23 15:23] internalG commented on #289
Fixed with 3.0.3.

[2020-11-23 15:23] #289 closed

[2021-01-15 06:40] #143 closed

[2021-01-20 07:50] Jason-Stan-Lee opened #303 "+[PINDiskCache moveItemAtURLToTrash:] (PINDiskCache.m:451) Crashed at -[NSURL fileSystemRepresentation]"
The `_sharedTrashURL` generated with `[[NSProcessInfo processInfo] globallyUniqueString];` contains `%00%00%00%00` ,  lead to a crash.

*** -[NSURL fileSystemRepresentation]: conversion failed for file:///private/var/mobile/Containers/Data/Application/40AC63D8-3BD7-458B-BAC6-6396A78BD715/tmp/FE7F1C30-38EE-47ED-BB37-8FE73EA7873A-64416-000010D9F50E%00%00%00%00/7F3D3218-6F96-4724-9853-19D242240A2F-64

[2021-01-20 23:30] garrettmoon commented on #303
@Jason-Stan-Lee  Can you post an example project that reproduces this?

[2021-01-21 03:53] Jason-Stan-Lee commented on #303
Nope. It was finded in my crash collector, but I never reproduce this case.

[2021-01-21 19:24] garrettmoon commented on #303
@Jason-Stan-Lee is it something you're seeing occur a lot? Is there any particular version of iOS it occurs on?

[2021-01-22 09:36] Jason-Stan-Lee commented on #303
@garrettmoon There are very few crashes,  perhaps one over a million or a billion, the platforms crashed on which I finded above

iPhone Xr | 12.3 (16F156)
iPhone 11 Pro Max | 13.3.1 (17D50)
iPhone Xr | 13.1.3 (17A878)

I guess the `globallyUniqueString` is not very suitable for url path.

[2021-01-22 21:23] garrettmoon commented on #303
Got it, thanks for the info!

[2021-02-05 18:11] jparise commented on #297
@bolsinga can this issue be closed now?

[2021-02-05 21:25] bolsinga commented on #297
No, it can't. I'd mangled the title incorrectly. What remains is the use of`+[NSKeyedUnarchiver unarchiveObjectWithData:]`

[2021-02-12 09:26] DhagatKinjal opened #304 "pincache framework problem with Xcode12.3 version"
Incompatible block pointer types sending 'void (^)(PINCache * _Nonnull __strong, NSString * _Nonnull __strong, id  _Nullable __strong)' to parameter of type 'PINCacheObjectBlock _Nullable' (aka 'void (^)(id<PINCaching>  _Nonnull __strong, NSString * _Nonnull __strong, id  _Nullable __strong)')

[2021-02-12 19:47] garrettmoon commented on #304
@DhagatKinjal are you on the latest version? Can you please upload a sample project?

[2021-02-23 20:23] dgcoffman commented on #304
@garrettmoon https://github.com/pinterest/PodToBUILD `make build-test` repros.

[2021-02-23 21:57] garrettmoon commented on #304
@dgcoffman that doesn't look to be using the latest version of PINCache.

[2021-02-23 23:12] dgcoffman commented on #304
That's correct. I was getting this error in PodToBUILD and resolved by upgrading to PINCache 3.0.3.

[2021-02-25 08:44] DhagatKinjal commented on #304
Thank you for your timely response. I will check it out.

On Wed, 24 Feb, 2021, 4:42 am Daniel Coffman, <notifications@github.com>
wrote:

[2021-05-06 17:52] timeview commented on #275
I did try PINCache 3.0.3 but still get same errors - Any upset on this issue ?

[2021-05-21 14:46] vade opened #305 "Cache enumeration question / Possible feature request"
Hello

Firstly, thank you for PINCache, its been a breeze to set up and work with, so much appreciated!

I'm wondering why the `enumerateObjectsWithBlock` and fam isn't part of the `PinCaching` protocol - it might be nice to be able to enumerate all objects in your cache(s) (without loading flushed to disk  objects into ram unless you specifically request to do so).

I get there's likely nuances i

[2021-05-21 16:43] garrettmoon commented on #305
The history behind it not being in the PINCaching protocol is there was no clean way to keep the existing API. All the other methods matched one to one in disk and memory cache but the enumeration blocks for disk and memory are different. When we added the protocol we wanted to keep the existing API.

As far as adding a enumerateObjectsWithBlock method on PINCache, I don't see a particular problem

[2021-05-21 16:43] garrettmoon commented on #305
Sorry, didn't mean to close, will keep open as an enhancement request.

[2021-05-21 16:44] garrettmoon commented on #304
Glad upgrading fixed it!

[2021-05-21 16:44] #304 closed

[2021-05-21 16:47] kinjal-concetto commented on #304
Thanks 👍

[2021-05-21 16:47] garrettmoon commented on #299
Can you explain what use case you need to support where the diskCache being in TTL mode is at odds with your goals?

[2021-05-23 11:37] icedice commented on #299
I honestly do not remember, it was a long time ago but I guess my goal was saving bandwith...

[2021-05-23 11:37] #299 closed

[2021-05-24 18:57] vade commented on #305
Cool. I may give that a go myself!

[2021-07-15 14:53] mycroftcanner commented on #240
Any chance we could fix this?

[2021-07-15 15:14] mycroftcanner commented on #240
@rajeshs73 are you initialising PINCache and setting its configuration from the main thread?

[2021-09-08 08:17] bolee commented on #275
upgrade the latest version 3.0.3.

[2021-10-14 16:46] icedice opened #311 "Carthage vs SPM differences"
So I'm currently migrating from Carthage to SPM. After doing so I started seeing crashes that looked to be related to PINCache, so i tested some more.

I made two projects one using PINCache with SPM and one with Carthage thats the only difference. They basically just have this code:

[code]

The one using Carthage seems to be working just fine however the one using SPM immediately throws this exc

[2022-01-29 02:16] gumbypp commented on #254
I just noticed this with v3.0.3. I haven't noticed whether this affects performance or not, but here's a stack trace:

<img width="522" alt="Screen Shot 2022-01-28 at 6 12 55 PM" src="https://user-images.githubusercontent.com/862849/151643361-915e2011-e701-4b3e-ad4d-cb380adb1a07.png">

And the `NSError`:
[code]

[2022-06-16 22:58] gumbypp commented on #240
this is fixed by https://github.com/pinterest/PINCache/pull/312, which as on `master` after the 3.0.3 release

[2022-07-25 20:32] guraghav opened #314 "Secure code by using NSSecureCoding instead of NSCoding"
Hello,

Created this issue to address the vulnerability with using NSCoding. The NSCoding does not verify the type of object upon deserialization and therefore is vulnerable to object substitution attacks.

To mitigate this vulnerability, Apple introduced the [NSSecureCoding protocol](https://developer.apple.com/documentation/foundation/nssecurecoding?language=objc) along with the following secure

[2022-11-17 04:06] phonefixnicole opened #318 "there is a difference"

[2022-11-17 19:51] #318 closed